<app-header></app-header>
<app-upsc-submenu></app-upsc-submenu>


<section class="freshermain-sec">
<div class="container">
  <div class="row animatedParent animateOnce">
    <div class="col-12 p-0 m-1">
    <h3>About the course</h3>
    <p class="p-2">Frequent retrieval increases retention. That is, when something is retrieved frequently after learning it, it will increase its retention for a long time. Thus tests are a must for retaining something for a long time and also to check for one's preparedness for the exam.</p>
      <p class="p-2">UPSC exam is different from most other competitive exams. It checks not just a candidate's knowledge, but also one's analytical skill, time management, crisis management and logical thinking. It is vital not to score negative marks than to score positive marks in the preliminary exam. A candidate must be good at the skill of 'elimination method' to arrive at answers. This skill can be learnt through practice. Thus, aspirants should solve as many tests as possible to increase their potential of cracking the exams.</p>
      <p class="p-2">Aram IAS academy conducts series of tests for all the three stages of the exam process. We are proud to claim that our questions are on par with UPSC questions.</p>
      
    </div>
    
  </div>
</div>
</section>
<section class="defult-page-title rowbgclr">
    <div class="container">
        <div class="row">
            <div class="col-12">
                    <h4 class="text-center">WHAT’S EXCLUSIVE FOR YOU</h4>
              </div>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" preserveAspectRatio="none">
              <polygon style="fill:#EAECEE" points="0,200 100,100 200,200"></polygon>
              <polygon style="fill:#D5D8DC" points="0,200 100,100 100,200"></polygon>
            </svg>
      <div class="row" id="list-example">
            <div class="col-6 list-group-item list-group-item-action py-2 m-0" style="background-color: #EAECEE">
              <h4 class="text-center"><a routerLink="['/test-series',#list-item-1]" style="text-decoration: none; color: black">GENERAL STUDIES (PRELIMINARY)</a></h4>
            </div>
            <div class="col-6 list-group-item list-group-item-action py-2 m-0" style="background-color: #D5D8DC">
              <h4 class="text-center"><a routerLink="#list-item-2" style="text-decoration: none; color: black">GENERAL STUDIES (MAINS) TEST SERIES</a></h4>
            </div>
            <div class="col-6 list-group-item list-group-item-action py-2 m-0" style="background-color: #D5D8DC">
              <h4 class="text-center"><a routerLink="upsc/courses-offered/test-series#list-item-3" style="text-decoration: none; color: black">CIVIL SERVICE APTITUDE TEST (PRELIMINARY)</a></h4>
            </div>
            <div class="col-6 list-group-item list-group-item-action py-2 m-0" style="background-color: #EAECEE">
              <h4 class="text-center"><a routerLink="upsc/courses-offered/test-series#list-item-4" style="text-decoration: none;  color: black">OPTIONALS (MAINS) TEST SERIES</a></h4>
            </div>
       </div>
            
        </div>
    </div>
</section>
<section>
<div class="row">
  <img id="list-item-1" class="img-fluid m-0 p-0" src="/assets/images/General_Studies_Prelims.jpg" alt="General_Studies_Prelims" style="height: 600px;width: 100%; object-fit: cover;">
  
</div>
</section>
<section class="testseries-sec">
<div class="container">
  <div class="row">
    <div class="col-12 m-0">
    <p class="p-3 text-center"><i class="fa fa-download" style="color: red;"></i><a href="../../../assets/files/final FULL SPILT UP SCHEDULE 1.pdf" download> Download AIM CIVIlS 1st Test Batch schedule</a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 m-0">
    <p class="p-3 text-center"><i class="fa fa-download" style="color: red;"></i><a href="../../../assets/files/PRELIMS SECOND BATCH TEST SCHEDULE" download> Download AIM CIVIlS 2st Test Batch schedule</a></p>
    </div>
  </div>
</div>
</section>
<section class="testseries-sec">
<div class="container">
  <div class="row">
    <div class="col-4 m-0">
            <p class="text-center py-2">Fundamentals test based on <span class="bigger">NCERT</span> to improve your proficiency in fundamentals.</p>
      </div>
  <div class="col-4 m-0">
          <p class="text-center py-2">Thorough discussions after every test which will help you identify your mistakes and give you a complete idea of the topics.</p>
      </div>
  <div class="col-4 m-0">
    
        <p class="text-center py-2">Break up of topics is done systematically so that you can cover many subjects in one test.</p>
      </div>
  <div class="col-4 m-0">
          <p class="text-center py-2">Exclusively Highly Stimulated Tests to Cover all Miscellaneous Topics Important for Prelims Exam</p>
      </div>
  <div class="col-4 m-0">  
        <p class="text-center py-2">Apart from test discussion, detailed key and explanation will be provided for all tests.</p>
      </div>
  <div class="col-4 m-0">
        <p class="text-center py-2">Orientation Class before each test will give you a clear insight on preparation strategy for the test.</p>
      </div>
  <div class="col-4 m-0">
        <p class="text-center py-2">Clear separation of topics to have proper Strength, Weakness, Opportunity and Threat analysis of your performance.</p>
      </div>
  <div class="col-4 m-0">
        <p class="text-center py-2">Exclusive Subject wise tests for revision.</p>
      </div>
  <div class="col-4 m-0">
        <p class="text-center py-2">ARAM is the only Institute to offer more number of Tests in Test Series Batch.</p>
      </div>
  </div>
  
</div>
</section>
<section class="main-testseries">

  <div class="row">
    <img id="list-item-2" class="img-fluid m-0 p-0" src="/assets/images/General_Studies_Mains.jpg" alt="General_Studies_Mains" style="height: 600px;width: 100%; object-fit: cover;">
    
  </div>
  <div class="row">
    <div class="col-4 m-0" style="color: white">
          <p class="text-center py-2">Every test will have orientation where you will have a very clear description of the Syllabus and a brief discussion on each topic.</p>
        </div>
    <div class="col-4 m-0" style="color: white">
          <p class="text-center py-2">Every test will have Test discussion.</p>
        </div>
    <div class="col-4 m-0" style="color: white">
          <p class="text-center py-2">We are the only Institute in India to fix time schedule for return of evaluated test papers and individual feedback.</p>
        </div>
  </div>
  <div class="row">
    <div class="col-4 m-0" style="color: white">
          <p class="text-center py-2">A unique collection of practice questions - “DO NOT MISS SERIES” based on Current Affairs, Society, Governance, and Ethics.</p>
        </div>
    <div class="col-4 m-0" style="color: white">  
          <p class="text-center py-2">Essay test is also included in the test series.</p>
        </div>
    <div class="col-4 m-0" style="color: white">
          <p class="text-center py-2">Logical distribution of test topic is done and it makes the students to understand the interconnected nature of the syllabus.</p>
        </div>
  </div>
  <div class="row">
    <div class="col-4 m-0" style="color: white">
          <p class="text-center py-2">Least Voluminous and Most Comprehensive in Nature.</p>
        </div>
    <div class="col-4 m-0" style="color: white">
          <p class="text-center py-2">Assured Individual attention.</p>
        </div>
    <div class="col-4 m-0" style="color: white">
          <p class="text-center py-2">Answer writing skills and structure formation to be part of our test discussion.</p>
        </div>
  </div>

</section>
<section class="csat-sec">
<div class="row">
  <div class="col-lg-6">
    <img id="list-item-3" class="img-fluid m-0 p-0" src="/assets/images/CSAT.jpg" alt="CSAT">
  </div>
  <div class="col-lg-6 pt-2">
        <p class="text-left py-3 pt-4">Orientation Class for every test which will give you a clear insight of preparation strategy for next test.</p>
        <p class="text-left py-2">Shorts cuts are taught in the orientation</p>
        <p class="text-left py-3">Thorough discussion on every test which will give you a complete idea of the topics.</p>
        <p class="text-left py-2">Clear separation of topics to have proper Strength, Weakness, Opportunity and Threat analysis of your performance.</p>
        <p class="text-left py-3">Scientific Break up of topics so that you cover inter related areas in one test.</p>
        <p class="text-left py-2">Individual test to cover previous year questions.</p>
        <p class="text-left py-3">Individual performance feedback for every student after the test results.</p>
        <p class="text-left py-2">Unbelievable number of tests.</p>
      </div>
</div>
</section>
<app-contact-us></app-contact-us>
<app-footer></app-footer>