<app-header></app-header>

<section class="course-single-area">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="course-single-col">
                       <div class="desc-sec">
								   <div class="lft-inner">
								      <div class="desc">
								       <button class="accordion">1. What is UPSC and what are the civil services?</button>
											<div class="panel">
											  <p>The UPSC is central government agency authorized to conduct the civil services examination. The civil service includes the Indian Administrative Service (IAS), Indian Forest Service (IFS), Indian Police Service (IPS) and other central services and posts.</p>
											</div>

											<button class="accordion">2. What are the different modes of recruitment to the All India Services?</button>
											<div class="panel">
											  <p>There are two modes of recruitment to the All India Services;
(i)	Direct Recruitment: Through the Civil Services Examination for IAS and IPS and the Indian Forest Service Examination for the IFS. These Examinations are conducted by UPSC.
(ii)	 Promotion/Selection: By way of promotion of the SCS/SPS/SFS officers to the respective All India Service and by way of selection of Non-State Civil Services (NSCS) Officers to the IAS.
</p>
											</div>
											<button class="accordion">3. What is the educational qualification needed to appear in IAS exam?</button>
											<div class="panel">
											  <p>The candidate must hold a degree of any of universities incorporated by an Act of the Central or State Legislature in India or any other educational institution established by an Act of Parliament or declared to be deemed as a university under section 3 of the University Grants Commission Act, 1956, or possess an equivalent qualification.</p>
											</div>
											<button class="accordion">4. What are the age and attempt limit for UPSC examination?</button>
											<div class="panel">
											  <p>According to the latest advertisement issued by UPSC 2016, minimum age required to appear in this exam is 21 years. The maximum age limit is different for different categories and are given below.
General- 32 years ,6 attempts.
OBC - 35 years, 9 attempts.
SC & ST -37 years with unlimited attempt.
For blinds, deaf-mute, orthopedically handicapped person - 42 years(for General and OBC-9 attempts, SC/ST- up to age limit.)
	</p>
											</div>
											 
											<button class="accordion">5. Whether a candidate belonging to a community included in the MBC list of states but not in the Central list of OBCs is eligible for age relaxation, reservation etc., for Commission's Examinations?</button>
											<div class="panel">
											  <p>No. Only candidates belonging to communities which are included in the Central list of OBC's are eligible for such concessions. In Tamilnadu the communities which belong to Central OBC list are given in the following link, <a href ="http://www.ncbc.nic.in/User_Panel/GazetteResolution.aspx?Value=mPICjsL1aLv%2b2hza1cVSjGj2lbN6VTmqldqIuVcOEkgHeh8PGW22Whuvc80mubPb"></a></p>
											</div>
											<button class="accordion">6. If a candidate has applied for the CS (P) Examination but has not appeared at any paper in the CS (P) Examination will it be counted as an attempt?</button>
											<div class="panel">
											  <p>No. An attempt is counted only if a candidate has appeared in at least one paper in CS (P) Examination.</p>
											</div>
											<button class="accordion">7. Is a candidate who has done his graduation without passing class X and class X11 eligible for Civil Service Examination?</button>
											<div class="panel">
											  <p>Yes, The only condition is that the degree has to be obtained from the recognized university</p>
											</div>
											<button class="accordion">8. How to get into civil services of India?</button>
											<div class="panel">
											  <p>A candidate has to clear all the three rounds of the civil services examination, which included:
Stage I:  Preliminary
Stage II: Mains
Stage III: Interview
</p>
											</div>
											 
											<button class="accordion">9. What is the structure of UPSC Civil Service prelims exam?</button>
											<div class="panel">
											  <p>Paper-I- General Studies - This paper will be counted for qualifying to write the Civil Services Mains exam.
Paper- II (CSAT)- Aptitude test (CSAT) - This paper is of qualifying nature, but candidate must score at least 33 per cent marks in this paper. However, marks of this paper are not counted for writing the Mains examination.
</p>
											</div>
											<button class="accordion">10. What is the structure of UPSC Civil Service Mains Exam? (Latest Pattern)</button>
											<div class="panel">
											  <p>The Mains consist of written examination and an interview test. The written examination will consist of 9 papers of the conventional essay type. Two papers(A and B) out of nine will be of qualifying nature(English and a language from the 8th schedule). Paper A and Paper B will be for 300 marks. Marks obtained for all the compulsory papers (Paper–I to Paper-VII) and Marks obtained in Interview for Personality Test will be counted for ranking. The marks for the respective papers are given below.</p>
											  <table class="table">
												<tr><td>Paper 1-Essay</td><td>250 marks</td></tr>
												<tr><td>Paper 2- General studies</td><td>250 marks</td></tr>
												<tr><td>Paper 3- General studies II</td><td>250 marks</td></tr>
												<tr><td>Paper 4- General studies III</td><td>250 marks</td></tr>
												<tr><td>Paper 5- General studies IV</td><td>250 marks</td></tr>
												<tr><td>Paper 6- Optional Paper 1</td><td>250 marks</td></tr>
												<tr><td>Paper 7- Optional Paper 2</td><td>250 marks</td></tr>
												<tr><td>Interview</td><td>275 marks</td></tr>
												<tr><td>Grand total</td><td>2025 marks</td></tr>		
											  </table>
											  <p>Marks obtained by the candidates for all papers EXCEPT PAPER A & B will be counted for merit ranking.</p>
											</div>
											<button class="accordion">11. Can a candidate write different papers of Civil Service (Main) Examination in different languages?</button>
											<div class="panel">
											  <p>The question paper for prelims will be in Hindi and English. For mains the candidates has the option to write their answers either in English or in any one of the language in Eighth schedule.</p>
											</div>
											<button class="accordion">12. Can a candidate write the Civil Service (Main) Examination in English and take the interview in Hindi or any other Indian language?</button>
											<div class="panel">
											  <p>If a candidate selects an Eighth schedule language for the CS (Main) Examination he will have the option to take the interview in same language or in English</p>
											</div>
											 
											<button class="accordion">13. If I cleared the prelims exam this year, can I appear for the Mains examination next year?</button>
											<div class="panel">
											  <p>No, If you clear the prelims you have to appear for Mains the same year, If you couldn’t get through the Mains examination (Mains and Interview) you have start fresh from the prelims of the subsequent year.</p>
											</div>
											<button class="accordion">14. Will my marks scored in Prelims affect my scores in Mains examination?</button>
											<div class="panel">
											  <p>No it won’t affect your mains mark. The prelims is only a examination for screening. Once you qualify Prelims, what you have scored before does not matter in Mains.</p>
											</div>
											<button class="accordion">15. What is the salary of an IAS officer?</button>
											<div class="panel">
											  <p>As per the 7th pay commission, the salary of an IAS officer during his commissioning as junior Will be 50,000 to 1,50,000 along with a grade pay of Rs 16,500.</p>
											</div>
											<button class="accordion">16.How many vacancies will be there in UPSC CSE examination?</button>
											<div class="panel">
											  <p>It depends on the number of vacancies that year that has to be filled, but the total vacancies will be 1100(Approximately). In that it will have 180 post (approx) for IAS, 160(approx) post IPS and 40(approx) for IFS.</p>
											</div>
											 
											<button class="accordion">17. When can I submit online application for a particular examination? Can I apply any time during the year for a particular examination?</button>
											<div class="panel">
											  <p>An applicant should apply for a particular examination only when it has been notified by the Commission. Brief information containing the extracts of the examination which is being notified is published in the leading News Papers. The complete and detailed information is available on Commission's website <a href="https://www.upsc.gov.in" >https://www.upsc.gov.in</a> and at the website for filling the online application for particular notified exam/exams at <a href="https://upsconline.nic.in/">https://upsconline.nic.in</a> </p>
											</div>
																			 
								      </div>
								   </div>
							</div>
                    </div>
                </div>
                <div class="col-md-3">
                   <!-- <div class="sidebar-col">
                        <div class="sidebar-search-box">
                           
                        </div>
                        <div class="categories">
                            <div class="sidebar-title">
                                <h3>categories</h3>
                            </div>
                            <ul class="clearfix">
                                <li><a href="#">Daily News</a><a class="pull-right" href="#">(10)</a></li>
                                <li><a href="#">Editorial</a><a class="pull-right" href="#">(05)</a></li>
                                <li><a href="#">Articles</a><a class="pull-right" href="#">(13)</a></li>
                                
                            </ul>
                        </div>
                        <div class="sidebar-post">
                            <div class="sidebar-title">
                                <h3>Latest News</h3>
                            </div>
                            <ul>
                                <li>
                                    <h4><a href="#">Test Series 5</a></h4>
                                    <p>December 12, 2017</p>
                                </li>
                                <li>
                                   
                                    <h4><a href="#">Prelims Mock Test</a></h4>
                                    <p>December 15, 2017</p>
                                </li>
                                <li>
                                  
                                    <h4><a href="#">Know it from Acheiver</a></h4>
                                    <p>December 16, 2017</p>
                                </li>
                                <li>
                                    
                                    <h4><a href="#">India’s rising manufacturing sector</a></h4>
                                    <p>December 19, 2017</p>
                                </li>
                                <li>
                                   
                                    <h4><a href="#">Responsive Design</a></h4>
                                    <p>December 20, 2017</p>
                                </li>
                            </ul>
                        </div>
                      
                    </div>-->
                </div>
            </div>
        </div>
    </section>
      
<app-footer></app-footer>