<div class="admin-home">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img alt="" src="/assets/images/aram_logo.png" class="admin-home-img-logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/students">Students</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/latestNews">Latest News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/uploadFile">Online Test Upload</a>
        </li>
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>


</div>