<app-header></app-header>

<section class="course-single-area">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="course-single-col">
                   <div class="desc-sec">
               <div class="lft-inner">
                 
               <div class="desc">
                    <h4><b> Group I</b></h4>
                <h4><b> About the Course</b></h4>
                <p class="p-1">At Aram, we are providing individual-based customised training for all the three levels of the exam.</p>
                <p class="p-1">The classes are scheduled in such a way that, the core concepts and the current affairs are parallely handled. Great emphasis is given to the current affairs part because of its highly dynamic nature.</p>
                <p class="p-1">The core concepts are taught by highly qualified academic professionals. The current affairs classes are handled by teachers who have years of experience in teaching exclusively for TNPSC exams. </p>
                <p class="p-1">Aram IAS Academy has been the most sorted after academy by the TNPSC aspirants. We cater to the changing nature of the exam by constantly upgrading our knowledge about the trends of TNPSC with the aid of our R&D team.</p>
                
                <h4><b>What is exclusive at Aram?</b></h4>
                <ol>
                  <li>Strictly sticking to the prescribed syllabus and teaching each and every topic in it.</li>
                  <li>To crack TNPSC exams, the students must need to practice more than what they study. Thus, we are conducting the highest possible number of tests within the course duration.</li>
                  <li>Individual attention and guidance can create wonders. At Aram, we are admitting only a limited number of students in every batch to ensure that every student gets enough attention and guidance.</li>
                  <li>Periodic SWOT analysis is done for every student based on their performance in the tests.</li>
                  <li>Classes are taken by highly experienced teachers with a sound academic background, who are exceptional in delivering the concepts in a way that can be grasped by both quick-witted students and late bloomers.</li>
                  <li>Finest quality Aptitude and Mental Ability classes are a trademark to Aram IAS Academy (Formerly TIMES IAS Academy).</li>
                  <li>Intensive research is done by our R&D team while framing the test questions to keep them analogous with TNPSC questions. </li>
                  <li>Separate weekly tests are designed to cover each and every subject given in the syllabus. Besides these, multiple full-syllabus FREE mock tests are also provided to the aspirants.</li>
                  <li>Currents Affairs classes are dealt with great care along with regular printed current affairs capsules. </li>
                </ol>
                                    
                 </div>
               
               </div>
          </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="sidebar-col">
                    <div class="sidebar-search-box">
                        <!--<form>
                            <div class="input-group">
                                <input placeholder="Search..." class="form-control" name="search-field" type="text">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </form>-->
                    </div>
                    <div class="container">
                        <div class="row">
                          <div class="col-12 m-0">
                          <p class="p-3 text-center"><i class="fa fa-download" style="color: red;"></i><a href="../../../assets/files/Group - 1 Prelims Test Schedule Final.pdf" download> Download Group - 1 Prelims Test Schedule</a></p>
                          </div>
                        </div>
                        <div class="row">
                            <div class="col-12 m-0">
                            <p class="p-3 text-center"><i class="fa fa-download" style="color: red;"></i><a href="../../../assets/files/Group - I Mains Test Schedule.pdf" download> Download Group - 1 Mains Test Schedule</a></p>
                            </div>
                          </div>
                    </div>
                   
                  
                </div>
            </div>
        </div>
    </div>
</section>
  

<app-footer></app-footer>