<app-header></app-header>

<section class="course-meterial">
  <div class="container">
    <div class="col-sm-12">
      
      <div class="row pb-3">
            <div class="col-6">
                <p style="text-align:justify"><span style="font-size:18px"><span style="font-family:Georgia,serif"><strong><span style="color:#3c2a2a;">1. 6th Standard - Tamil Medium </span></strong></span></span></p>
                       <ul class="m-1">
                          <li><b>Term I</b></li>
                          <ul class="p-2 m-2">
                            <li class="list-unstyled"><a href="https://drive.google.com/file/d/1OEiz5jpDZrCvFGBEa9ZN5Lq7eRHCYuCF/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Tamil</a></li>
                            <li><a href="https://drive.google.com/file/d/1qpUM2o5ib_sfR-T13yA0fzJHJGIKb86x/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> English</a></li>
                            <li><a href="https://drive.google.com/file/d/1D8eTmI9D_RJvSpo99UFjV4sMmZEejFa4/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Maths</a></li>
                            <li><a href="https://drive.google.com/file/d/1IjTAXY3YjezpkpT35njTqHsLUeD9DBEX/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Science & Social Studies</a></li>
                          </ul>
                          <li><b>Term II</b></li>
                          <ul class="p-2 m-2">
                            <li class="list-unstyled"><a href="https://drive.google.com/file/d/10m3doa8gjZ_yymWYF9zhKT8_U6vaGelU/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Tamil</a></li>
                            <li><a href="https://drive.google.com/file/d/15kX2aShVsjvNGJy7QqDcW6PJ0S6juOQL/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> English</a></li>
                            <li><a href="https://drive.google.com/file/d/1I6gU1tZqGc_ZfF67brSA9hayj_hKq5TZ/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Maths</a></li>
                            <li><a href="https://drive.google.com/file/d/161CA9CmG5h6Oznmk-5z4mstMKFlLLuBN/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Science </a></li>
                            <li><a href="https://drive.google.com/file/d/1THLFSNdbqOWEkNKbqq0xaZK_9bMJ3l8M/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Social Studies </a></li>
                            
                          </ul>
                       </ul>
            </div>
            <div class="col-6">
               <p style="text-align:justify"><span style="font-size:18px"><span style="font-family:Georgia,serif"><strong><span style="color:#3c2a2a;">2. 6th Standard - English Medium </span></strong></span></span></p>
                       <ul class="m-1">
                          <li><b>Term I</b></li>
                    <ul class="p-2 m-2">
                      <li class="list-unstyled"><a href="https://drive.google.com/file/d/1OEiz5jpDZrCvFGBEa9ZN5Lq7eRHCYuCF/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Tamil</a></li>
                      <li><a href="https://drive.google.com/file/d/1qpUM2o5ib_sfR-T13yA0fzJHJGIKb86x/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> English</a></li>
                      <li><a href="https://drive.google.com/file/d/1ReqCDbAA2YhwnFmxEFTgyl3N0XuF_83n/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Maths</a></li>
                      <li><a href="https://drive.google.com/file/d/15RpBbHahuMmok5DZLfYJS_FDDTaCrzdc/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Science & Social Studies</a></li>
                    </ul>
                    <li><b>Term II</b></li>
                    <ul class="p-2 m-2">
                      <li class="list-unstyled"><a href="https://drive.google.com/file/d/10m3doa8gjZ_yymWYF9zhKT8_U6vaGelU/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Tamil</a></li>
                      <li><a href="https://drive.google.com/file/d/15kX2aShVsjvNGJy7QqDcW6PJ0S6juOQL/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> English</a></li>
                      <li><a href="https://drive.google.com/file/d/1HC2ij2dsw44tLV_GhrFYv7xhR3d5PKtU/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Maths</a></li>
                      <li><a href="https://drive.google.com/file/d/1n_NYyxuBnzVpthFiEpu1q5bMMFg1gpBO/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Science </a></li>
                      <li><a href="https://drive.google.com/file/d/1j1JHaQGUxgl717st2dB1g3e5ADL1075n/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Social Studies </a></li>
                      
                    </ul>
                       </ul>
            </div>
           
         <div class="col-6">
                <p style="text-align:justify"><span style="font-size:18px"><span style="font-family:Georgia,serif"><strong><span style="color:#3c2a2a;">3. 7th Standard - Tamil Medium </span></strong></span></span></p>
                       <ul class="m-1">
                          <li><b>Term I</b></li>
                    <ul class="p-2 m-2">
                      <li class="list-unstyled"><a href="https://drive.google.com/file/d/1eI-gqfTXGapg-bqqM4SRo5KyBpNdYnAz/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Tamil</a></li>
                      <li><a href="https://drive.google.com/file/d/1XnBEpuzZM4b0aeLvdSuHRdgvtyyaAG8l/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> English</a></li>
                      <li><a href="https://drive.google.com/file/d/1L39MtPCmiwtYjyGxoCTDHnceToYLvjIY/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Maths</a></li>
                      <li><a href="https://drive.google.com/file/d/1rLUAql1OK6LGY4X0mSAxkmxl_nTUqaRW/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Science </a></li>
                      <li><a href="https://drive.google.com/file/d/1N5KKMr6fZ8J9F5dNMRJMa4J8fqUg7bug/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Social Studies</a></li>
                    </ul>
                    <li><b>Term II</b></li>
                    <ul class="p-2 m-2">
                      <li class="list-unstyled"><a href="https://drive.google.com/file/d/1uv-qAOzkIhsY-8xzLQz0OtR4H1WfcIrh/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Tamil</a></li>
                      <li><a href="https://drive.google.com/file/d/1FCG0vY4fMGjD6B0dH4QgdSrj-XJWbmit/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> English</a></li>
                      <li><a href="https://drive.google.com/file/d/1ZHhe4jKgqsqnjz7FwFCmOtx9-w9JIQSC/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Maths</a></li>
                      <li><a href="https://drive.google.com/file/d/1sA0jpafNXpqEXNOq7SdAoqci-NFXNGNK/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Science </a></li>
                      <li><a href="https://drive.google.com/file/d/18_xJ30DBe7gC9VkPJoCOF5LWL5Uyj4ie/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Social Studies </a></li>
                      
                    </ul>
                       </ul>
            </div>
           <div class="col-6">
               <p style="text-align:justify"><span style="font-size:18px"><span style="font-family:Georgia,serif"><strong><span style="color:#3c2a2a;">4. 7th Standard - English Medium </span></strong></span></span></p>
                       <ul class="m-1">
                          <li><b>Term I</b></li>
                    <ul class="p-2 m-2">
                      <li class="list-unstyled"><a href="https://drive.google.com/file/d/1eI-gqfTXGapg-bqqM4SRo5KyBpNdYnAz/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Tamil</a></li>
                      <li><a href="https://drive.google.com/file/d/1XnBEpuzZM4b0aeLvdSuHRdgvtyyaAG8l/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> English</a></li>
                      <li><a href="https://drive.google.com/file/d/1QXnTuetNB9cSDm-uH4h6ccmhy1EEsW8J/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Maths</a></li>
                      <li><a href="https://drive.google.com/file/d/1Q4XoXQRv1z36MbyShQSxozGURrDh-UBV/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Science</a></li>
                      <li><a href="https://drive.google.com/file/d/1dCLwFs5dl3MEz94qRVwNfxwHqA5cCbCo/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Social Studies</a></li>
                    </ul>
                    <li><b>Term II</b></li>
                    <ul class="p-2 m-2">
                      <li class="list-unstyled"><a href="https://drive.google.com/file/d/1uv-qAOzkIhsY-8xzLQz0OtR4H1WfcIrh/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Tamil</a></li>
                      <li><a href="https://drive.google.com/file/d/1FCG0vY4fMGjD6B0dH4QgdSrj-XJWbmit/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> English</a></li>
                      <li><a href="https://drive.google.com/file/d/1GHcbtKbd_wCBLJDLt8a3QokLI_2eL4Nk/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Maths</a></li>
                      <li><a href="https://drive.google.com/file/d/1C5eK5YHreLIZ1IuCoCzTL5-13m8fA2UC/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Science </a></li>
                      <li><a href="https://drive.google.com/file/d/1kD1c8Xnk7WYxlDVgDDlIJ-kV1INpF46b/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Social Studies </a></li>
                      
                    </ul>
                       </ul>
            </div>

          <div class="col-6">
                <p style="text-align:justify"><span style="font-size:18px"><span style="font-family:Georgia,serif"><strong><span style="color:#3c2a2a;">5. 8th Standard - Tamil Medium </span></strong></span></span></p>
                       <ul class="m-1">
                          <li><b>Term I</b></li>
                    <ul class="p-2 m-2">
                      <li class="list-unstyled"><a href="https://drive.google.com/file/d/184ha3nFplTSs7BJmOfZZkgL3x3aPf2XJ/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Tamil</a></li>
                      <li><a href="https://drive.google.com/file/d/16OUzNA62FeRn0-SHKeDxCKKVGkTbbyhJ/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> English</a></li>
                      <li><a href="https://drive.google.com/file/d/19ij_UyYmRD1wQvcYsEZmVk4phI2yh4RE/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Maths</a></li>
                      <li><a href="https://drive.google.com/file/d/1nQ_-UYXJpGik9L4LycyvG1TKAxpvLTDT/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Science </a></li>
                      <li><a href="https://drive.google.com/file/d/1-t6UYy7GLON9Xbaj8hpEm0GnQ89Fe45A/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Social Studies</a></li>
                    </ul>
                    <li><b>Term II</b></li>
                    <ul class="p-2 m-2">
                      <li class="list-unstyled"><a href="https://drive.google.com/file/d/1JJKCU5LYKD27ZW74sHvOMSnk2TNR4xEJ/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Tamil</a></li>
                      <li><a href="https://drive.google.com/file/d/1ftKQ1LGswQ8t0FWtxExR3fxBN_SbxTWo/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> English</a></li>
                      <li><a href="https://drive.google.com/file/d/1dKZMK5vDZvrGObV61OWwMnjvicrH9jQj/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Maths</a></li>
                      <li><a href="https://drive.google.com/file/d/1MB_xty-QMqzzsPWx7oreHX1CYhry4O0h/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Science </a></li>
                      <li><a href="https://drive.google.com/file/d/1kzlnEKQK79JRldIUY0C2BQersm4BZMAv/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Social Studies </a></li>
                      
                    </ul>
                       </ul>
            </div>
           <div class="col-6">
               <p style="text-align:justify"><span style="font-size:18px"><span style="font-family:Georgia,serif"><strong><span style="color:#3c2a2a;">6. 8th Standard - English Medium </span></strong></span></span></p>
                       <ul class="m-1">
                          <li><b>Term I</b></li>
                    <ul class="p-2 m-2">
                      <li class="list-unstyled"><a href="https://drive.google.com/file/d/184ha3nFplTSs7BJmOfZZkgL3x3aPf2XJ/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Tamil</a></li>
                      <li><a href="https://drive.google.com/file/d/16OUzNA62FeRn0-SHKeDxCKKVGkTbbyhJ/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> English</a></li>
                      <li><a href="https://drive.google.com/file/d/1FK-ngAq2LmtTw9PDw4J8fLO_SX35Gx88/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Maths</a></li>
                      <li><a href="https://drive.google.com/file/d/1Xu1kc05Pgg25ZKJaLVfEGcKXi0ifSZxO/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Science</a></li>
                      <li><a href="https://drive.google.com/file/d/1D1MncMZ3m_DAPotnBOBg5MVh3G5pjbKI/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Social Studies</a></li>
                    </ul>
                    <li><b>Term II</b></li>
                    <ul class="p-2 m-2">
                      <li class="list-unstyled"><a href="https://drive.google.com/file/d/1JJKCU5LYKD27ZW74sHvOMSnk2TNR4xEJ/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Tamil</a></li>
                      <li><a href="https://drive.google.com/file/d/1ftKQ1LGswQ8t0FWtxExR3fxBN_SbxTWo/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> English</a></li>
                      <li><a href="https://drive.google.com/file/d/1CSO4pSshTjLpKYWc7ZTLwfim_S50H8_f/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Maths</a></li>
                      <li><a href="https://drive.google.com/file/d/1V6Q9GApEEEoP813seUVRJG4ucRB9kAWM/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Science </a></li>
                      <li><a href="https://drive.google.com/file/d/1JgzLZmA5NQ5Sc_h4mYQ4HjI5c5fm405j/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Social Studies </a></li>
                      
                    </ul>
                       </ul>
            </div>

        <div class="col-6">
                <p style="text-align:justify"><span style="font-size:18px"><span style="font-family:Georgia,serif"><strong><span style="color:#3c2a2a;">7. 9th Standard - Tamil Medium </span></strong></span></span></p>
                       <ul class="m-1">
                          <li><b>Term I</b></li>
                    <ul class="p-2 m-2">
                      <li class="list-unstyled"><a href="https://drive.google.com/file/d/1tMBpbDOhjXLa2RyghwyU1A_lVRJUB3ge/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Tamil</a></li>
                      <li><a href="https://drive.google.com/file/d/1e68U9ha7KR3HyISBIGlJw5LjdDmaCSD1/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> English</a></li>
                      <li><a href="https://drive.google.com/file/d/1sLA4He56_q9ua81hUe4SB1XFJSgOS8Fb/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Maths</a></li>
                      <li><a href="https://drive.google.com/file/d/1a3u7QfBqfc4_iu9nhiE1Brx2VeUejqta/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Science </a></li>
                      <li><a href="https://drive.google.com/file/d/1iFF4CYfuwu0hDCHwQKpp8DXjh3OM89pd/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Social Studies</a></li>
                    </ul>
                    <li><b>Term II</b></li>
                    <ul class="p-2 m-2">
                      <li class="list-unstyled"><a href="https://drive.google.com/file/d/1v9W5_87TIujLr--g_ggPIU8OmVsoGnVJ/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Tamil</a></li>
                      <li><a href="https://drive.google.com/file/d/1IE0VZ5MZDBHCGFrG-lAJhmwuF8IxV8i7/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> English</a></li>
                      <li><a href="https://drive.google.com/file/d/1A4iozIcfG7AaNM5fsdyuMNoRSstlZmZE/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Maths</a></li>
                      <li><a href="https://drive.google.com/file/d/1z7EtqErBoTTHDIRHfVwidpXjZtReFl9_/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Science </a></li>
                      <li><a href="https://drive.google.com/file/d/1GmmZ6D4hovKGbCov8YAm0sRgghnBdHG7/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Social Studies </a></li>
                      
                    </ul>
                       </ul>
            </div>
           <div class="col-6">
               <p style="text-align:justify"><span style="font-size:18px"><span style="font-family:Georgia,serif"><strong><span style="color:#3c2a2a;">8. 9th Standard - English Medium </span></strong></span></span></p>
                       <ul class="m-1">
                          <li><b>Term I</b></li>
                    <ul class="p-2 m-2">
                      <li class="list-unstyled"><a href="https://drive.google.com/file/d/1tMBpbDOhjXLa2RyghwyU1A_lVRJUB3ge/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Tamil</a></li>
                      <li><a href="https://drive.google.com/file/d/1e68U9ha7KR3HyISBIGlJw5LjdDmaCSD1/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> English</a></li>
                      <li><a href="https://drive.google.com/file/d/16TYni1n_-Rchd7Zj71ZuW-SYIpA3YQY_/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Maths</a></li>
                      <li><a href="https://drive.google.com/file/d/1DK3TZfkuReocATyB0V-tA1U5B7eRws2A/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Science</a></li>
                      <li><a href="https://drive.google.com/file/d/1kAkhPK0RQrTYKGp8oSdVKzlXj-tS-luL/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Social Studies</a></li>
                    </ul>
                    <li><b>Term II</b></li>
                    <ul class="p-2 m-2">
                      <li class="list-unstyled"><a href="https://drive.google.com/file/d/1v9W5_87TIujLr--g_ggPIU8OmVsoGnVJ/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Tamil</a></li>
                      <li><a href="https://drive.google.com/file/d/1IE0VZ5MZDBHCGFrG-lAJhmwuF8IxV8i7/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> English</a></li>
                      <li><a href="https://drive.google.com/file/d/1y8sIdFAgaoRo4JtXXmjXE9cs7e79umWH/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Maths</a></li>
                      <li><a href="https://drive.google.com/file/d/1REtbkgYNR3Xs1dGC1OVU2jResZbK-aCu/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Science </a></li>
                      <li><a href="https://drive.google.com/file/d/1DYTtMdVNRfaO-Xz5jI7k23ufoKlQjsf_/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Social Studies </a></li>
                      
                    </ul>
                       </ul>
            </div>

        <div class="col-6">
                <p style="text-align:justify"><span style="font-size:18px"><span style="font-family:Georgia,serif"><strong><span style="color:#3c2a2a;">9. 10th Standard - Tamil Medium </span></strong></span></span></p>
                       <ul class="m-1">
                            <li class="list-unstyled"><a href="https://drive.google.com/file/d/1AD5qJ73b1yfd18tnjhDOG3ZJzovpObog/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Tamil</a></li>
                      <li><a href="https://drive.google.com/file/d/1x7KI14QEFCtmvA4Jlfr0eez9RGEMZ9V0/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> English</a></li>
                      <li><a href="https://drive.google.com/file/d/1K0SWUsxrsLl6xhFs6vl5E5dGnFbRfOjL/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Maths</a></li>
                      <li><a href="https://drive.google.com/file/d/1hpgBxybXSyVdECLCa1xpKqgJ3ZDm7NOu/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Science </a></li>
                      <li><a href="https://drive.google.com/file/d/1UXFB_zcDcuQPMl9d5l8g8TABhx7suTtT/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Social Studies</a></li>
                                          
                       </ul>
            </div>
           <div class="col-6">
               <p style="text-align:justify"><span style="font-size:18px"><span style="font-family:Georgia,serif"><strong><span style="color:#3c2a2a;">10. 10th Standard - English Medium </span></strong></span></span></p>
                       <ul class="m-1">
                         
                      <li class="list-unstyled"><a href="https://drive.google.com/file/d/1AD5qJ73b1yfd18tnjhDOG3ZJzovpObog/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Tamil</a></li>
                      <li><a href="https://drive.google.com/file/d/1x7KI14QEFCtmvA4Jlfr0eez9RGEMZ9V0/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> English</a></li>
                      <li><a href="https://drive.google.com/file/d/19ZqPzT8jgIc1OUKUAlj-CeBxK-geXW3y/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Maths</a></li>
                      <li><a href="https://drive.google.com/file/d/1W8d2aPwO0RT0PMzM0vlfNMadxUQh9Uvg/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Science</a></li>
                      <li><a href="https://drive.google.com/file/d/1f-42wHd3ujUaO_eaLSztAcVgjI4uVfP9/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Social Studies</a></li>
                                        
                       </ul>
            </div>

        <div class="col-6">
                <p style="text-align:justify"><span style="font-size:18px"><span style="font-family:Georgia,serif"><strong><span style="color:#3c2a2a;">11. 11th Standard </span></strong></span></span></p>
                       <ul class="m-1">
                            <li class="list-unstyled"><a href="https://drive.google.com/file/d/1yeuT9Ks6r49DHlk_78A635VdUWltudhq/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Tamil</a></li>
                      <li><a href="https://drive.google.com/file/d/1EtP2uLNvVjxt2pgQWv9Cd3cmZrSYuyZm/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Advanced Tamil (Sirappu Tamizh)</a></li>
                      <li><a href="https://drive.google.com/file/d/1Tuk7ENEQ7vay8hW97S__bncgBBBywoh9/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> English</a></li>
                      <li><b>Zoology</b></li>
                      <ul class="p-2 m-2">
                        <li><a href="https://drive.google.com/file/d/1DwEUS_EvtAFOnjWd11HpF7J0vWxkd-R6/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Zoology-1 Tamil </a></li>
                      <li><a href="https://drive.google.com/file/d/1uB02PR9D4VCVsYhrLl2jgdkrhGtSbW8O/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Zoology-2 Tamil</a></li>
                      <li><a href="https://drive.google.com/file/d/1P3D_nFCzcv-CvFbJMjyYYFKUeb6hGFP5/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Zoology-1 English </a></li>
                      <li><a href="https://drive.google.com/file/d/1EsDKGCBsJK-Jh_S0_XJHuYVrQx0KlZcc/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Zoology-2 English</a></li>
                      </ul>
                      <li><b>Political Science</b></li>
                      <ul class="p-2 m-2">
                        <li><a href="https://drive.google.com/file/d/19r1SMviYuIqfWqNWHp98HMfqixXnsMfR/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Political Science-1 Tamil </a></li>
                      <li><a href="https://drive.google.com/file/d/1eRdGWdsaGnvwew7hWqkjXKVWGSNwFCqF/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Political Science-2 Tamil</a></li>
                      <li><a href="https://drive.google.com/file/d/1eRdGWdsaGnvwew7hWqkjXKVWGSNwFCqF/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Political Science-1 English </a></li>
                      <li><a href="https://drive.google.com/file/d/1OQAbWcc2Ry4GRiFNnV88sMIe47L10R25/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Political Science-2 English</a></li>
                      </ul>
                      <li><b>Physics</b></li>
                      <ul class="p-2 m-2">
                        <li><a href="https://drive.google.com/file/d/1IcJCjrLZaw1QVWUIA4u7a5tGYnMx275R/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Physics-1 Tamil </a></li>
                      <li><a href="https://drive.google.com/file/d/1DvrxMOTUCTmXQT4TypWnn7W4TBaG0isj/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Physics-2 Tamil</a></li>
                      <li><a href="https://drive.google.com/file/d/1EZiagClkzntMocQtsa-lqqXEZI1G-uM2/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Physics-1 English </a></li>
                      <li><a href="https://drive.google.com/file/d/1hVi_wOlzpoScjJxMoDOUBWj74_UqZ7WB/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Physics-2 English</a></li>
                      </ul>
                      
                      <li><b>History</b></li>
                      <ul class="p-2 m-2">
                        <li><a href="https://drive.google.com/file/d/1FVTsK3Gl1bzT6AlLZ16h5Sw2xpnHRxcq/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> History-1 Tamil </a></li>
                      <li><a href="https://drive.google.com/file/d/16XzBPrYqpk1os3zN_WZRFC4fSFeXPsl-/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> History-2 Tamil</a></li>
                      <li><a href="https://drive.google.com/file/d/11ZbVdr23lVPiy2LDCgg9PEOjGarlC11S/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> History-1 English </a></li>
                      <li><a href="https://drive.google.com/file/d/1BqPsw2r1eQFDvIIIgCxKufVblAuPT-n9/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> History-2 English</a></li>
                      </ul>
                      
                      <li><b>Geography</b></li>
                      <ul class="p-2 m-2">
                        <li><a href="https://drive.google.com/file/d/1Z7Acj9e1an7ZWG-EGuUAVNYg2jBsdP_p/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Geography Tamil </a></li>
                      <li><a href="https://drive.google.com/file/d/1m0k6L2OalfXTPPShPTMsJTGrsxES2zYe/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Geography English</a></li>
                      
                      </ul>
                      <li><b>Economics</b></li>
                      <ul class="p-2 m-2">
                        <li><a href="https://drive.google.com/file/d/16eGG00SE8DNJqXggedEwlAhTaDXEX6AZ/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Economics Tamil </a></li>
                      <li><a href="https://drive.google.com/file/d/1M_87r9zSq3wj8jqYLtTMKXqcr9qkF56d/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Economics English</a></li>
                      
                      </ul>
                      <li><b>Chemistry</b></li>
                      <ul class="p-2 m-2">
                        <li><a href="https://drive.google.com/file/d/1CaRb-eDU_cad3IL0pZ93oh4-8tKiltJf/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Chemistry-1 Tamil </a></li>
                      <li><a href="https://drive.google.com/file/d/1-9mpp-5U7SRzbXbZ6I3THUNJwlZZTZqm/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i>Chemistry-2 Tamil</a></li>
                      <li><a href="https://drive.google.com/file/d/1g73AO0Kca_yPiq6_GwKOrOpGH3avDP5F/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Chemistry-1 English </a></li>
                      <li><a href="https://drive.google.com/file/d/1GUMnyeGGf_cXJBruNOpfkQMRNIjRvfcw/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i>Chemistry-2 English</a></li>
                      
                      </ul>
                      <li><b>Botany</b></li>
                      <ul class="p-2 m-2">
                        <li><a href="https://drive.google.com/file/d/1cKDi8HbPUAVzoYlHJ6k0iTOfths465rH/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Botany-1 Tamil </a></li>
                      <li><a href="https://drive.google.com/file/d/153glc_uR94TRqMxi88FhFnv1qBwLpfj2/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i>Botany-2 Tamil</a></li>
                      <li><a href="https://drive.google.com/file/d/18aw75AqvAt--gKHQQ2pOGgxRjoiLV-Sg/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Botany-1 English </a></li>
                      <li><a href="https://drive.google.com/file/d/1uWLqP3QHv2myG5PKgNdwSNL1ZeImqz_0/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i>Botany-2 English</a></li>
                      
                      </ul>
                      
                                          
                       </ul>
            </div>
          <div class="col-6">
                <p style="text-align:justify"><span style="font-size:18px"><span style="font-family:Georgia,serif"><strong><span style="color:#3c2a2a;">12. 12th Standard </span></strong></span></span></p>
                       <ul class="m-1">
                            <li class="list-unstyled"><a href="https://drive.google.com/file/d/1Rxa_NXglvR4My_vmjNdb-QvLDs0BobfB/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Tamil</a></li>
                      <li><a href="https://drive.google.com/file/d/1TYLoxg7bSz3JN5lQId7Ad0y45Xt1iXjW/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Advanced Tamil (Sirappu Tamizh)</a></li>
                      <li><a href="https://drive.google.com/file/d/1I6ijjqzmg2om9Bzk3OKpln9rjuX-pYvq/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> English</a></li>
                      <li><b>Zoology</b></li>
                      <ul class="p-2 m-2">
                        <li><a href="https://drive.google.com/file/d/1ihUZ6L21n916Cv63toNWRxV5-wk7bg76/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Zoology-1 Tamil</a></li>
                      <li><a href="https://drive.google.com/file/d/1ihUZ6L21n916Cv63toNWRxV5-wk7bg76/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Zoology-2 Tamil</a></li>
                      <li><a href="https://drive.google.com/file/d/1LMWEBmYIOUYQdLMD6NrD2cZut72M0rz2/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Zoology English </a></li>
                      
                      </ul>
                      <li><b>Political Science</b></li>
                      <ul class="p-2 m-2">
                        <li><a href="https://drive.google.com/file/d/1T9iNNfIrEevjPo2pPq5Lu60DsnvD704r/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Political Science Tamil </a></li>
                      <li><a href="https://drive.google.com/file/d/1vVE5vGE4nj0PW-YeLBQs1K-EW08-NDrv/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Political Science English</a></li>
                      
                      </ul>
                      <li><b>Physics</b></li>
                      <ul class="p-2 m-2">
                        <li><a href="https://drive.google.com/file/d/1VfoJYf1MAiJweEi-uvNAt6GtPRVovgRX/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Physics-1 Tamil </a></li>
                      <li><a href="https://drive.google.com/file/d/1ehulxRUM8nGh4ZZowoLL44lfR4WVesUQ/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Physics-2 Tamil</a></li>
                      <li><a href="https://drive.google.com/file/d/1wdN1g6xbu7AQWM5St1WfSAegq_sWbL3v/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Physics-1 English </a></li>
                      <li><a href="https://drive.google.com/file/d/1qTbjytIWkCa1WNtOgEMIztIwYRXnUgg-/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Physics-2 English</a></li>
                      </ul>
                      
                      <li><b>History</b></li>
                      <ul class="p-2 m-2">
                        <li><a href="https://www.winmeen.com/wp-content/uploads/2018/06/Std12-History-TM-term1.pdf" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> History Tamil </a></li>
                      <li><a href="https://drive.google.com/file/d/1kMPPDXBh1bwAgKByC_VdbHJQg-MPLTF7/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> History English</a></li>
                      
                      </ul>
                      
                      <li><b>Geography</b></li>
                      <ul class="p-2 m-2">
                        <li><a href="https://drive.google.com/file/d/1BBwEHe18V97PIH0YaIfnkNWBHchyZXo0/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Geography Tamil </a></li>
                      <li><a href="https://drive.google.com/file/d/1QfezD3kNZeP5CdpBs4Qx6jCMWC-JSlwi/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Geography English</a></li>
                      
                      </ul>
                      
                      
                      
                      <li><b>Chemistry</b></li>
                      <ul class="p-2 m-2">
                        <li><a href="https://drive.google.com/file/d/1SxvPV9kzkP9OFXK4Y2gDu35EorGFi8ia/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Chemistry-1 Tamil </a></li>
                      <li><a href="https://drive.google.com/file/d/1hMTHS3xRYC3pWhSCU1Ydiy9IkbcZCX4d/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i>Chemistry-2 Tamil</a></li>
                      <li><a href="https://drive.google.com/file/d/1s1-vJBu6nAerfKqi4mQtN2ZZC0FaKgcw/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Chemistry-1 English </a></li>
                      <li><a href="https://drive.google.com/file/d/1d16zCyMX6Haa77a5LDy8zhptqOyjFdWj/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i>Chemistry-2 English</a></li>
                      
                      </ul>
                      <li><b>Botany</b></li>
                      <ul class="p-2 m-2">
                        <li><a href="https://drive.google.com/file/d/1JE_QpMJE3x_tFzz6o6Xtztl0iCSbyeXi/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Botany Tamil </a></li>
                      <li><a href="https://drive.google.com/file/d/155Ez5lRUIZQHUcH9DiahYHm6n93qXf-G/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i>Botany English</a></li>
                      
                      
                      </ul>
                      
                                          
                       </ul>
            </div>
        </div>
     
    </div>
  </div>
</section>
    
<app-footer></app-footer>