<app-header></app-header>

<section class="course-single-area">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="course-single-col">
                   <div class="desc-sec">
               <div class="lft-inner">
                  <div class="desc">
                   <button class="accordion">1. What is the maximum age limit to appear for Group I and Group II exams?</button>
                  <div class="panel">
                    <table class="table">
                      <tr rowspan="2"><td>EXAM</td><td colspan="2">Maximum age limit ( Should not have completed)</td></tr>
                      <tr><td></td><td>SC/ST, MBC/DNC, BC, BCM & DW’S OF ALL CASTES</td><td>Others </td></tr>
                      <tr><td> Group I</td><td> 35 years </td><td> 30 years </td></tr>
                      <tr><td> Group II </td><td> No age limit </td><td> 30 years </td></tr>
                      <tr><td> Group II-A (Non-Interview posts )</td><td> No age limit  </td><td> 30 years </td></tr>
                    </table>											  
                  </div>

                  <button class="accordion">2. What is the minimum required age for appearing in TNPSC exams?</button>
                  <div class="panel">
                    <table class="table">
                      <tr rowspan="2"><td>EXAM</td><td colspan="2">Maximum age limit ( Should not have completed)</td></tr>
                      <tr><td></td><td>SC/ST, MBC/DNC, BC, BCM & DW’S OF ALL CASTES</td><td>Others </td></tr>
                      <tr><td> Group I & II (Both Interview and Non-Interview posts)</td><td> 21 years </td><td> 21 years </td></tr>
                      <tr><td> Group IV and VAO Exams </td><td> 18 years </td><td> 18 years </td></tr>
                    </table>	
                   </div>
                  <button class="accordion">3. What are the tips to crack TNPSC exams in the first attempt?</button>
                  <div class="panel">
                  <ul>
                    <li>Understanding the syllabus clearly.</li>
                    <li>Referring to previous year question papers before starting the preparation to gain an insight over the nature of questions asked.</li>
                    <li>Reading Tamil Nadu State Board books from 6th to 12th standard</li>
                    <li>Taking the right guidance and test series.</li>
                  </ul>
                  </div>
                  <button class="accordion">4. Can I crack TNPSC Group II exam with Group I preparation?</button>
                  <div class="panel">
                  <p>Group II questions are mainly based on science subjects whereas Group I questions are mainly based on Indian polity and policies. One cannot expect Group II exam to be mere subset of Group I exam.Both needs different focus and practice.</p>
                  </div>
                  <button class="accordion">5. Can other state candidates apply for TNPSC exams?</button>
                  <div class="panel">
                  <p>Yes, other state residents can also apply for TNPSC exams. They will have to clear Tamil language test within two years after getting the service.</p>
                  </div>
                
                
                
                
                
                

                                          
                  </div>
               </div>
          </div>
                </div>
            </div>
            <div class="col-md-3">
               <!-- <div class="sidebar-col">
                    <div class="sidebar-search-box">
                    </div>
                    <div class="categories">
                        <div class="sidebar-title">
                            <h3>categories</h3>
                        </div>
                        <ul class="clearfix">
                            <li><a href="#">Daily News</a><a class="pull-right" href="#">(10)</a></li>
                            <li><a href="#">Editorial</a><a class="pull-right" href="#">(05)</a></li>
                            <li><a href="#">Articles</a><a class="pull-right" href="#">(13)</a></li>
                            
                        </ul>
                    </div>
                    <div class="sidebar-post">
                        <div class="sidebar-title">
                            <h3>Latest News</h3>
                        </div>
                        <ul>
                            <li>
                                <h4><a href="#">Test Series 5</a></h4>
                                <p>December 12, 2017</p>
                            </li>
                            <li>
                               
                                <h4><a href="#">Prelims Mock Test</a></h4>
                                <p>December 15, 2017</p>
                            </li>
                            <li>
                              
                                <h4><a href="#">Know it from Acheiver</a></h4>
                                <p>December 16, 2017</p>
                            </li>
                            <li>
                                
                                <h4><a href="#">India’s rising manufacturing sector</a></h4>
                                <p>December 19, 2017</p>
                            </li>
                            <li>
                               
                                <h4><a href="#">Responsive Design</a></h4>
                                <p>December 20, 2017</p>
                            </li>
                        </ul>
                    </div>
                  
                </div>-->
            </div>
        </div>
    </div>
</section>
  
<app-footer></app-footer>