<section class="defult-page-title rowbgclr-prelims">
  <div class="row">
    <div class="container">
      <div class="col-12">
        <div class="page-title-box">
          <ul class="tabs tab-style text-center" id="subtabs" role="tablist">

            <li [routerLinkActive]="['active']"><a routerLink="civil-prelims">Prelims</a></li>

            <li [routerLinkActive]="['active']"><a routerLink="test-questions">Answer Questions</a></li>

            <li [routerLinkActive]="['active']"><a routerLink="civil-mains">Mains</a></li>

            <li [routerLinkActive]="['active']"><a routerLink="prelims-quiz">Prelims Quiz</a></li>

            <li [routerLinkActive]="['active']"><a routerLink="mains-qa">Mains Q & A</a></li>

            <li [routerLinkActive]="['active']"><a routerLink="fortnight-compilations">Fortnight Compilations</a></li>

            <li [routerLinkActive]="['active']"><a routerLink="mocktest">Online Test</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>