<section class="defult-page-title rowbgclr">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="page-title-box">
                  <!--<h4>{{subMenuTitle}}</h4>-->
              </div>
    <ul class="title-links">
      <li class="p-1" [routerLinkActive]="['active']"><a routerLink="/upsc/courses-offered/mains" (click)="usubmenuTitle($event)">Mains</a></li>
      <li class="p-1" [routerLinkActive]="['active']"><a routerLink="/upsc/courses-offered/freshers-mains" (click)="usubmenuTitle($event)">Freshers Mains</a></li>
      <li class="p-1" [routerLinkActive]="['active']"><a routerLink="/upsc/courses-offered/optionals" (click)="usubmenuTitle($event)">Optional</a></li>
      <li class="p-1" [routerLinkActive]="['active']"><a routerLink="/upsc/courses-offered/crash-course" (click)="usubmenuTitle($event)">Crash Course</a></li>
      <li class="p-1" [routerLinkActive]="['active']"><a routerLink="/upsc/courses-offered/test-series" (click)="usubmenuTitle($event)">Test Series</a></li>
      <li class="p-1" [routerLinkActive]="['active']"><a routerLink="/upsc/courses-offered/interview" (click)="usubmenuTitle($event)">Interviews</a></li>
    </ul>
          </div>
      </div>
  </div>
</section>