<app-header></app-header>

<app-upsc-submenu></app-upsc-submenu>
  <!-- Slider Start -->

  <div>
      <div style="display:flex;padding-top: 10px;">
          <div style="display: flex;width: 50%;">
              <span class="blink-text">★</span>
              <span class="blink-text">Prelims Cum Mains (PCM) BATCH 1 on May 10th - Admission Closed </span>
          </div>
          <div style="display: flex;width: 50%;">
              <span class="blink-text">★</span>
              <span class="blink-text">Admission Open for PCM BATCH 2 & 3</span>
          </div>
      </div>

      <div style="display:flex;padding-top: 10px;padding-bottom: 10px;">
          <div style="display: flex;width: 50%;">
              <span class="blink-text">★</span>
              <span class="blink-text">PCM BATCH 2 Starts From June 12,
                                   Only 80 seats per batch for PCM  </span>
          </div>
          <div style="display: flex;width: 50%;">
              <span class="blink-text">★</span>
              <span class="blink-text"> Admission Open for MAINS 
                  MAINS starts from June 12</span>
          </div>
      </div>
  </div>
<section class="main-slider-area">
      
    <div id="Container" class="row">
      <div class="col-12 p-0 m-0">
        <img id="list-item-2" class="img-fluid m-0 p-0" src="/assets/images/PCM_About.jpg" alt="PCM_About">
      </div>
          
      </div>
    
  </section>

<section class="desc-area">
  
    <div class="row animatedParent abt-course">
      <div class="col-12 p-0 m-0">
      <h3 style="color: #f2f2f2;">ABOUT THE COURSE</h3>
        <p>A substantial portion of UPSC syllabus is comprised of general studies(GS) subjects. Acknowledging its importance in clearing the exams, we have formulated a comprehensive course design that would facilitate the aspirants to gain proficiency in all GS subjects. On the basis of difficulty levels, the GS classes have been divided into two - Basic classes and Advanced classes to ease the learning process.</p>
      </div>
      
    </div>
  
</section>

  <!-- Features Start -->
  <section class="features-area class-levels">
      <div class="container ">
          <div class="row animatedParent animateOnce">
              <div class="col-lg-4 col-md-4 col-sm-12">
                  <div class="features-col animated fadeInUpShort slow go">
                      <div class="features-img">
                          <img src="/assets/images/basic-level-one.JPG" alt="">
                          <div class="over-shadow"></div>
                      </div>
                      <h4>LEVEL 1 - BASIC CLASSES</h4>
                      <p>The purpose of this level is to teach the fundamental concepts from NCERT, ICSE and other basic books. In addition to classes, regular tests are also conducted to check the conceptual understanding of aspirants.Thus, the prerequisite for advanced learning is fulfilled at this level.</p>
                  </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12">
                  <div class="features-col animated fadeInUpShort slow delay-250 go">
                      <div class="features-img">
                          <img src="/assets/images/basic-level-two.JPG" alt="">
                          <div class="over-shadow"></div>
                      </div>
                      <h4>LEVEL 2 - ADVANCED CLASSES</h4>
                      <p>This level encompasses teaching of the most crucial parts of the syllabus. It enables the aspirants to understand the complexity of subjects and also instils in them, the ability to learn and analyse new concepts on their own.

This level also focuses on essay paper which is one of the mark scoring areas in the exam. Additionally, portion wise split up tests are also conducted once in a week after the completion of the relevant portion.</p>
                  </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12">
                  <div class="features-col animated fadeInUpShort slow delay-500 go">
                      <div class="features-img">
                          <img src="/assets/images/basic-level-three.JPG" alt="">
                          <div class="over-shadow"></div>
                      </div>
                      <h4>LEVEL 3 - AUGMENTING PHASES</h4>
                      <p>Classes are just a facilitating tool to enable aspirants to reach their dream in lesser time. The major chunk of effort has to come from aspirants in the form of self-study and revision. We act as a buttress to aspirants by providing them revision classes and regular tests to increase their productivity.</p>
                  </div>
              </div>
          </div>
      </div>
  </section>


<section class="pcmcouse-section">
      
          <div class="row animatedParent animateOnce">
              <div class="col-12 p-0 m-0">
        <img class="img-fluid" src="/assets/images/PCM_Course_Curriculum.jpg" alt="PCM_Course_Curriculum">
      </div>
    </div>
  
</section>
<section class="pcmcouse-section">
      
          <div class="row animatedParent animateOnce">
              <div class="col-12 p-0 m-0">
        <a href="#list-item-1"><img class="img-fluid" src="/assets/images/PCM_Exclusive.jpg" alt="PCM_Course_Curriculum"></a>
      </div>
    </div>

</section>

  
  <!-- exclusive Start -->
  <section class="exclusive-area exclusivesec">
      
    <div class="col-sm-12">
                  <div class="section-title">
                      <div class="title-style">
                          <h2>WHAT’S EXCLUSIVE FOR YOU</h2>
                         
                      </div>
                 </div>
          </div>
    <div class="row pb-4">
         <div class="col-4">
           <p>ARAM is the only institute in South India to conduct separate classes to cover <b style="font-size: 24px">NCERT</b> topic with exclusive tests.</p>
         </div>
         <div class="col-4">
                  <p>Separate sessions for <b style="font-size: 24px">Newspaper Reading</b> to help you understand important issues from various newspapers.</p>
            </div>
        <div class="col-4">
              <p>Assured <b style="font-size: 24px">Individual Attention</b> all through the course to lend a hand to the candidates to excel in the examination.</p>
            </div>
  
    </div>
    <div class="row pb-4">
      <div class="col-4">
            <p>Complete revised and updated <b style="font-size: 24px">Relevant Study Materials</b> which includes only the contents with UPSC relevance (Study booklets, class discussion handouts for all topics in General Studies).</p>
          </div>
      <div class="col-4">
            <p>Orientation class and <b style="font-size: 24px">Personal Guidance</b> for optional subjects, so that you select the right optional as per your talent and interest.</p>
          </div>
      <div class="col-4">
            <p>Regular <b style="font-size: 24px">Motivational Sessions</b> by IAS, IPS and UPSC toppers to boost your self confidence and morale.</p>
          </div>
  
    </div>
    <div class="row pb-4">
      <div class="col-4">
            <p>Student <b style="font-size: 24px">friendly</b> environment.</p>
          </div>
      <div class="col-4">
            <p>Daily test and regular <b style="font-size: 24px">feedback</b> for all the test papers written by the candidate.</p>
          </div>
      <div class="col-4">
            <p>Maximum of <b style="font-size: 24px">80 students per batch</b> so that individual attention is effective.</p>
          </div>
    </div>
  
</section>

  <!-- Course Start -->
  <section class="course-area trustus-sec">
     
    <div class="col-sm-12">
                  <div class="section-title">
                      <div class="title-style">
                          <h2>TRUST US</h2>
                         
                      </div>
                 </div>
              </div>
       <div class="row">
         <div class="col-4">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/lwvrMBXX1SM" allowfullscreen></iframe>
              </div>
            </div>
          <div class="col-4">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/0XSgbVlTrkE" allowfullscreen></iframe>
            </div>
          </div>
          <div class="col-4">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/4PTaczpMz-g" allowfullscreen></iframe>
            </div>
          </div>
  </div>
  <div class="row" style="padding-top: 20px;">
      <div class="col-4">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/3eCzdpOyRuw" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-4">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/iv9dY9LsVcE" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-4">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/M9FO0tdOB9I" allowfullscreen></iframe>
        </div>
      </div>
    </div>
     <div class="row" style="padding-top: 20px;">
        <div class="col-4">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/9QbmghYbZtI" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-4">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/TIh_ob-fd30" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-4">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dtvCFZNu6Kc" allowfullscreen></iframe>
          </div>
        </div>
              
        </div>
  
  </section>
  <app-contact-us></app-contact-us>

<app-footer></app-footer>