<app-header></app-header>

<section class="course-single-area">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="course-single-col">
                   <div class="desc-sec">
               <div class="lft-inner">
                 
               <div class="desc">
                    <h4><b>Group II</b></h4>
                <h4><b>About the course</b></h4>
                <p class="p-1">At Aram, we are providing classes for both basic and advanced concepts. The scheme of classes is designed in a way that would provide strong hold over basics and the ability to learn the advanced concepts with ease. We also conduct regular tests on selective topics to make the students get clarity over the respective topics. Also we provide the highest possible number of FULL mock tests to check for the readiness of the candidates to face the actual exam.</p>
                <p class="p-1">Clearing TNPSC exam is mainly based on one's ability to manage time effectively. Time management can be slowly learned through intensive practice. A candidate has to attend as many tests as possible to crack the exam with good score.</p>
                <h4><b>What is exclusive at Aram?</b></h4>
                <ol>
                  <li>Strictly sticking to the prescribed syllabus and teaching each and every topic in it.</li>
                  <li>To crack TNPSC exams, the students must need to practice more than what they study. Thus, we are conducting the highest possible number of tests within the course duration.</li>
                  <li>Individual attention and guidance can create wonders. At Aram, we are admitting only a limited number of students in every batch to ensure that every student gets enough attention and guidance.</li>
                  <li>Periodic SWOT analysis is done for every student based on their performance in the tests.</li>
                  <li>Classes are taken by highly experienced teachers with a sound academic background, who are exceptional in delivering the concepts in a way that can be grasped by both quick-witted students and late bloomers.</li>
                  <li>Finest quality Aptitude and Mental Ability classes are a trademark to Aram IAS Academy (Formerly TIMES IAS Academy).</li>
                  <li>Intensive research is done by our R&D team while framing the test questions to keep them analogous with TNPSC questions. </li>
                  <li>Separate weekly tests are designed to cover each and every subject given in the syllabus. Besides these, multiple full-syllabus FREE mock tests are also provided to the aspirants.</li>
                  <li>Currents Affairs classes are dealt with great care along with regular printed current affairs capsules. </li>
                </ol>
                   </div>
               
               </div>
          </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="sidebar-col">
                    <div class="sidebar-search-box">
                       <!-- <form>
                            <div class="input-group">
                                <input placeholder="Search..." class="form-control" name="search-field" type="text">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </form>-->
                    </div>
                    <div class="container">
                        <div class="row">
                          <div class="col-12 m-0">
                          <p class="p-3 text-center"><i class="fa fa-download" style="color: red;"></i><a href="../../../assets/files/Group - II Mains Test Schedule.pdf" download> Download Group - II Mains Test Schedule</a></p>
                          </div>
                        </div>
                    </div>
                    
                  
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>