<app-header></app-header>
<app-upsc-submenu></app-upsc-submenu>

<section class="freshermains-sec">
  <div class="container">
    <div class="row animatedParent animateOnce">
      <div class="col-12 p-0 m-1">
      <div style="padding-top:15px;padding-bottom: 15px;">
          <h1 style="color:yellow;">
              Are you new to UPSC exam preparaion ?
            </h1>
            <div class="row m-0">
              <div class="col-9 p-0">
                <div style="font-size:25px;">
                  FRESHERS MAINS is a brainchild of ARAM IAS
                  academy, wherein, we teach each and every 
                  general studies subject that is common to both
                  prelims and mains from the basics.
                </div>
                <div class="freshers-main-txt">
                    FRESHERS MAIN
                </div>
                <div style="font-size:25px;">
                    FRESHER'S MAINS is indeed a one-stop solution.
                  </div>
              </div>
              <div class="col-3 p-0" style="padding-left:20px !important;">
                  <div style="font-size:25px;text-align: justify;">
                    With growing competition and inherent dynamic nature of UPSC exams, clearing preliminary and 
                    main level exam needs both analytical and conceptual clarity.
                  </div>
              </div>
            </div>
      </div>

      <hr style="color: white !important;" />
      <h3>About the course</h3>
      <h5>Are you new to UPSC exam preparation? Do you find it difficult to cope with the speed with which subjects are taught?</h5>
        <p class="m-0">We, at Aram, have come up with an innovative solution to deal with this problem by introducing a unique model for the first time in India - Fresher's Mains. This is a brainchild of Aram IAS academy,  wherein, we teach each and every general studies subject that is common to both prelims and mains from the basics. This helps the aspirants to get a sound conceptual clarity over the subjects right from the beginning. With growing competition and inherent dynamic nature of UPSC exams, clearing preliminary and mains level exams needs both analytical and conceptual clarity. Fresher's mains is indeed a one-stop solution.</p>
        
      </div>
      
    </div>
  </div>
</section>
<section>
  <div class="row">
    <div class="col-12 p-0 m-0">
        <img class="img-fluid" src="/assets/images/FM_Course.jpg" alt="PCM_Course_Curriculum">
      </div>
  </div>
</section>
<section class="freshers-incl">
  <div class="container">
    <div class="col-sm-12">
      <div class="section-title">
                      <div class="title-style">
                          <h4 class="p-2">THE COURSE CURRICULUM ALSO INCLUDES</h4>
                         
                      </div>
                 </div>
      <div class="row pb-3">
            <div class="col-4">
                <p class="text-right pb-3"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Scheduled series of tests</p>
            </div>
            <div class="col-4">
                <p class="text-center pb-3"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Printed study materials</p>
            </div>
            <div class="col-4">
                <p class="text-left pb-3"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Individual viva sessions</p>
            </div>
        </div>
      <div class="row pb-3">
            <div class="col-6">
                <p class="text-center pb-3"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Performance evaluation on monthly basis</p>
            </div>
            <div class="col-6">
                <p class="text-center pb-3"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Access to web portal for updations with the developments</p>
            </div>
        </div>
    </div>
  </div>
</section>


<section>
  <div class="row">
    <div class="col-12 p-0 m-0">
        <img class="img-fluid" src="/assets/images/FM_Exclusive.jpg" alt="FM_Course_Curriculum">
      </div>
  </div>
</section>
 <section class="exclusive-area exclusivesec">
      <div class="container">
    <div class="col-sm-12">
                  <div class="section-title">
                      <div class="title-style">
                          <h2>WHAT’S EXCLUSIVE FOR YOU</h2>
                         
                      </div>
                 </div>
          </div>
    <div class="row pb-4">
         <div class="col-4">
           <p>ARAM is the only institute in South India to conduct separate classes to cover <b style="font-size: 24px">NCERT</b> topic with exclusive tests.</p>
         </div>
         <div class="col-4">
                  <p>Separate sessions for <b style="font-size: 24px">Newspaper Reading</b> to help you understand important issues from various newspapers.</p>
            </div>
        <div class="col-4">
              <p>Assured <b style="font-size: 24px">Individual Attention</b> all through the course to lend a hand to the candidates to excel in the examination.</p>
            </div>
  
    </div>
    
    
  </div>
</section>

<app-contact-us></app-contact-us>
<app-footer></app-footer>