<!-- Main Header Start -->
<header class="main-herader">
    <!-- Header top start -->
    <div class="header-topbar">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-sm-8">
                    <div class="header-topbar-col clearfix">
                        <ul>
                            <li>
                                <p><i class="fa fa-phone" aria-hidden="true"></i> +91 8939696868/69</p>
                            </li>
                            <li>
                                <p><i class="fa fa-envelope-o" aria-hidden="true"></i> <a
                                        href="#">info@aramiasacademy.com</a>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 ml-auto col-md-6 col-sm-4">
                    <div class="header-topbar-col clearfix">
                        <div class="social-link-group">
                            <a href="https://www.facebook.com/Aram-IAS-Academy-341555359951472/" target="_blank"><i
                                    class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="https://twitter.com/aram_ias" target="_blank"><i class="fa fa-twitter"
                                    aria-hidden="true"></i></a>
                            <a href="https://www.youtube.com/channel/UCTuulY9kYnuVWsXWqTGb95w" target="_blank"><i
                                    class="fa fa-youtube" aria-hidden="true"></i></a>
                            <a href="https://plus.google.com/u/1/115977919281885623733" target="_blank"><i
                                    class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-telegram" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header top end -->

    <!-- Navigation -->
    <nav class="navbar navbar-expand-md nav navbar-dark" id="navbar">
        <div class="container">
            <a class="navbar-brand" routerLink="">
                <img src="/assets/images/aram_logo.png" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                        <a class="nav-link" routerLink="">Home</a>
                    </li>
                    <li class="nav-item dropdown pr-4 pl-3">
                        <a class="nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            href="#UPSC">UPSC <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                        <ul id="UPSC_items" class="dropdown-menu" aria-labelledby="dropdown_target">
                            <li><a class="dropdown-item" routerLink="/upsc/about-upsc">About</a></li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-item">Courses Offered <i class="fa fa-angle-right"
                                        aria-hidden="true"></i></a>
                                <ul id="CO_items" class="dropdown-menu">
                                    <li><a class="dropdown-item"
                                            routerLink="/upsc/courses-offered/prelims-cum-mains">Prelims cum Mains</a>
                                    </li>

                                    <li><a class="dropdown-item" routerLink="/upsc/courses-offered/mains">Mains</a></li>

                                    <li><a class="dropdown-item"
                                            routerLink="/upsc/courses-offered/freshers-mains">Freshers Mains</a></li>

                                    <li><a class="dropdown-item"
                                            routerLink="/upsc/courses-offered/optionals">Optionals</a></li>

                                    <li><a class="dropdown-item" routerLink="/upsc/courses-offered/crash-course">Crash
                                            Course</a></li>

                                    <li><a class="dropdown-item" routerLink="/upsc/courses-offered/test-series">Test
                                            Series</a></li>

                                    <li><a class="dropdown-item"
                                            routerLink="/upsc/courses-offered/interview">Interview</a></li>
                                </ul>
                            </li>
                            <li><a routerLink="/upsc/upsc-faq" class="dropdown-item">FAQs</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown pr-4 pl-3">
                        <a class="nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            href="#">TNPSC <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                        <ul id="tnpsc_items" class="dropdown-menu" aria-labelledby="dropdown_target">
                            <li><a class="dropdown-item" routerLink="/tnpsc/about-tnpsc">About</a></li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-item">Courses Offered <i class="fa fa-angle-right"
                                        aria-hidden="true"></i></a>
                                <ul id="tnpsc_items" class="dropdown-menu">
                                    <li><a class="dropdown-item" routerLink="/tnpsc/courses-offered/group1">Group I</a>
                                    </li>

                                    <li><a class="dropdown-item" routerLink="/tnpsc/courses-offered/group2">Group II</a>
                                    </li>

                                </ul>
                            </li>
                            <li><a routerLink="/tnpsc/tnpsc-faq" class="dropdown-item">FAQs</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" routerLink="/aim/civil-prelims">AIM CIVILS</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" routerLink="/test-series/prelims-test">TEST SERIES</a>
                    </li>

                    <li class="nav-item dropdown pr-4 pl-3">
                        <a class="nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            href="#">Course Materials <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                        <ul id="meterial_items" class="dropdown-menu" aria-labelledby="dropdown_target">
                            <li class="dropdown-submenu">
                                <a class="dropdown-item" href="#UPSC">UPSC <i class="fa fa-angle-right"
                                        aria-hidden="true"></i></a>
                                <ul id="met_items" class="dropdown-menu">
                                    <li><a class="dropdown-item"
                                            routerLink="/course-materials/prelims-metirials">Prelims cum Mains</a></li>

                                    <li><a class="dropdown-item"
                                            routerLink="/course-materials/mains-metirials">Mains</a></li>


                                    <li><a class="dropdown-item"
                                            routerLink="/upsc/courses-offered/interview">Interview</a></li>
                                </ul>
                            </li>

                            <li>
                                <a routerLink="/course-materials/tnpsc-metirials" class="dropdown-item">TNPSC</a>
                                <!-- <ul id="tnpscmet_items" class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">GROUP I</a></li>
                               
                                <li><a class="dropdown-item" href="#">GROUP II</a></li>
                           </ul>-->
                            </li>

                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://aramiasacademy.org" target="_blank">BLOG</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Accomplishments</a>
                    </li>

                </ul>
            </div>
            <!--- Profile Menu -->
            <!--<div class="profile-ico"><span><img src="assets/ico/user_blue.png"></span></div>-->
            <div class="dropdown" style="width: 60px;" *ngIf="userName || isAdmin">
                <a id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img
                        src="assets/ico/user_blue.png" style="height: 24px; width: 24px;"><i class="fa fa-angle-down"
                        aria-hidden="true"></i></a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="margin: .125rem -159px 0">
                    <div class="nav-profile-info">
                        <!--<div class="profile-photo-container">
                        <img src="assets/ico/user_blue.png" class="profile-circle" alt="Rajasekaran Vilvamani">
                    </div>-->
                        <div class="profile-info-container pb-2">
                            <strong class="t-16-pname text-uppercase">{{userName}}</strong>
                        </div>
                    </div>
                    <a class="post-meta" routerLink="/change-password"><i class="fa fa-key" aria-hidden="true"></i>
                        Change Password</a>
                    <a class="post-meta logout" [routerLink]="" (click)="logout()"><i class="fa fa-sign-out"
                            aria-hidden="true"></i> Logout</a>
                </div>
            </div>
        </div>
    </nav>
    <section class="web_homePage" (scroll)="onWindowScroll($event);">
        <!-- rest of the html code goes here -->
    </section>
</header>