<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <div style="margin-top:20px;">
        <h4><b>Latest News</b></h4>

      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="btn-group" role="group" aria-label="Basic example" style="width:100%;">
            <button type="button" class="btn btn-primary">Active</button>
            <button type="button" class="btn btn-secondary">InActive</button>
            <button type="button" class="btn btn-primary" (click)="addNewNews()"
              style="position: absolute;float:right;right:0px;">Add</button>
          </div>
          <table class="table table-striped" style="margin-top:20px;width: 100%;">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Link</th>
                <th scope="col">News</th>
                <th scope="col">Active Status</th>
                <!-- <th scope="col">Is Bold</th> -->
                <th scope="col">Controls</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let n of latestNews">
                <th scope="row">{{n.link}}</th>
                <td>{{n.news}}</td>
                <td>{{n.activeFlag == 'Y' ? 'Yes' : 'No'}}</td>
                <!-- <td>{{n.isBold ? 'Yes' : 'No'}}</td> -->
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example" style="width:100%;">
                    <button type="button" class="btn btn-sm btn-primary" *ngIf="n.activeFlag == 'Y'" (click)="edit(n)">Edit</button>
                    <button type="button" class="btn btn-sm btn-danger" *ngIf="n.activeFlag == 'Y'"
                      (click)="inactivate(n.latestNewsId)">Delete</button>
                    <button type="button" class="btn btn-sm btn-success" *ngIf="n.activeFlag != 'Y'"
                      (click)="activate(n.latestNewsId)" style="margin-left:15px;">Activate</button>
                  </div>
                </td>
              </tr>
              <!-- <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr> -->
            </tbody>
          </table>
        </div>

        <div class="col-sm-4">
          <div class="card" *ngIf="showForm">
            <div class="card-body">
              <form>
                <div class="form-group">
                  <label for="newsTt">News</label>
                  <input type="text" class="form-control" name="news" id="newsTxt" placeholder=""
                    [(ngModel)]="latestNewsIns.news">
                </div>

                <div class="form-group">
                  <label for="link">Link</label>
                  <input type="url" class="form-control" id="link" name="link" placeholder="https://example.com"
                    [(ngModel)]="latestNewsIns.link">
                </div>

                <div class="form-group" style="margin-left: 24px;">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="isBold" [(ngModel)]="latestNewsIns.isBold"
                      id="isBold">
                    <label class="form-check-label" for="isBold">
                      News is in Bold
                    </label>
                  </div>
                </div>

                <div class="btn-group" role="group" aria-label="Basic example" style="width:100%;">
                  <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
                  <button type="button" class="btn btn-success" (click)="submit()"
                    style="margin-left:10px;">Submit</button>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>