
    <!-- Footer Start -->
    <footer class="main-footer">
      <div class="container">
          <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-12">
                  <div class="footer-col">
                      <img class="footer-logo" src="assets/images/aram-whit-logo.png" alt="">
                                             
                  </div>
              </div>
              <div class="col-lg-2 col-md-6 col-sm-12">
                  <div class="footer-col">
                      <h5>Quick Links</h5>
                      <ul>
                          <li><a routerLink="/upsc/about-upsc">UPSC</a></li>
                          <li><a routerLink="/tnpsc/about-tnpsc">TNPSC</a></li>
                          <li><a routerLink="/aim/civil-prelims">AIM CIVILS</a></li>
                          <li><a href="#">ACCOMPLISHMENTS</a></li>
                          
                      </ul>
                  </div>
              </div>
      
      <div class="col-lg-3 col-md-6 col-sm-12">
                  <div class="footer-col">
                      <h5>Courses offered</h5>
                      <ul>
                          <li><a routerLink="/upsc/courses-offered/prelims-cum-mains">Prelims cum Mains</a></li>
                          <li><a routerLink="/upsc/courses-offered/mains">Mains</a></li>
                          <li><a routerLink="/upsc/courses-offered/freshers-mains">Freshers Main</a></li>
                          <li><a routerLink="/upsc/courses-offered/optionals">Optionals</a></li>
                          <li><a routerLink="/upsc/courses-offered/crash-course">Crash Course</a></li>
                          <li><a routerLink="/upsc/courses-offered/test-series">Test Series</a></li>
            <li><a routerLink="/upsc/courses-offered/interview">Interview</a></li>
                      </ul>
                  </div>
              </div>
              <!--<div class="col-lg-4 col-md-6 col-sm-12">
                  <div class="footer-col">
                      <h3>Recent Posts</h3>
                      <div class="post-box">
                          <img src="assets/images/post-1.jpg" alt="">
                          <p>24 June, 2018</p>
                          <p>There are many variations of passages of Lorem Ipsum available</p>
                      </div>
                      <div class="post-box">
                          <img src="assets/images/post-2.jpg" alt="">
                          <p>22 June, 2018</p>
                          <p>There are many variations of passages of Lorem Ipsum available</p>
                      </div>
                      <div class="post-box">
                          <img src="assets/images/post-3.jpg" alt="">
                          <p>22 June, 2018</p>
                          <p>There are many variations of passages of Lorem Ipsum available</p>
                      </div>
                  </div>
              </div>-->
              <div class="col-lg-3 col-md-6 col-sm-12">
                  <div class="footer-col address-col">
                      <h5>Contact us</h5>
                      <ul>
                          <li><i class="fa fa-address-card-o" aria-hidden="true"></i> C-40, 1st & 2nd Floor, 2nd Avenue, Anna Nagar West, Chennai-600040</li> 
                          <li><i class="fa fa-envelope" aria-hidden="true"></i>info@aramiasacademy.com</li>
                          <li><i class="fa fa-phone" aria-hidden="true"></i> +91 8939696868/69</li>
            <li><a  target="_blank" href="https://www.google.com/maps/place/ARAM+IAS+ACADEMY/@13.084994,80.204063,16z/data=!4m5!3m4!1s0x0:0xf5fde61b068a69bc!8m2!3d13.0849941!4d80.2040634?hl=en-US" class="gdir"><i class="fa fa-map-marker" aria-hidden="true"></i>Get Directions</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </footer>
  
  <!-- Copyright Start -->
  <section class="copyright-bar">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="copyright-col text-center">
                      <p>&copy; 2019 ARAM IAS ACADEMY All Rights Reserved.</p>
                  </div>
              </div>
          </div>
      </div>
  </section>