<app-header></app-header>
<section class="defult-page-title rowbgclr">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-box">
                    <h4>MAINS</h4>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Course Single Start -->

<section class="course-meterial">
<div class="container">
  <div class="col-sm-12">
    
    <div class="row pb-3">
                     
        <div class="col-lg-3 col-md-6 col-sm-6 p-2">
          <div class="teacher-img">
                          <a href="https://www.amazon.in/Indian-Society-Civil-Services-Examination/dp/9332588023" target="_blank"><img class="books-img" src="assets/images/gs-paper1.jpg" alt=""></a>
                      </div>
          <h5><a href="https://www.amazon.in/Indian-Society-Civil-Services-Examination/dp/9332588023" target="_blank">Indian Society For Civil Services Main Examination GS Paper I</a></h5>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 p-2">
          <div class="teacher-img">
                          <a href="https://www.amazon.in/dp/B07F9S5N1Q/ref=cm_sw_r_wa_awdo_t1_Ugh6BbWPWGHY1" target="_blank"><img class="books-img" src="assets/images/gs-paper2.jpg" alt=""></a>
                      </div>
          <h5><a href="https://www.amazon.in/dp/B07F9S5N1Q/ref=cm_sw_r_wa_awdo_t1_Ugh6BbWPWGHY1" target="_blank">Governance in India : Basics and Beyond For Civil Services Main Examination GS Paper II</a></h5>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 p-2">
          <div class="teacher-img">
                          <a href="https://www.amazon.in/dp/B073V14H1X/ref=cm_sw_r_wa_awdo_t1_Gih6BbRXBFEBA" target="_blank"><img class="books-img" src="assets/images/internal-security.jpg" alt=""></a>
                      </div>
          <h5><a href="https://www.amazon.in/dp/B073V14H1X/ref=cm_sw_r_wa_awdo_t1_Gih6BbRXBFEBA" target="_blank">Internal Security 2nd Edition, Kindle Edition</a></h5>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 p-2">
          <div class="teacher-img">
                          <a href="https://www.amazon.in/dp/B0774TN72P/ref=cm_sw_r_wa_awdo_t1_Omh6BbYBEKWZN" target="_blank"><img class="books-img" src="assets/images/aptitude.jpg" alt=""></a>
                      </div>
          <h5><a href="https://www.amazon.in/dp/B0774TN72P/ref=cm_sw_r_wa_awdo_t1_Omh6BbYBEKWZN" target="_blank">Ethics, Integrity and Aptitude Kindle Edition</a></h5>
        </div>
          
    
      </div>
   
  </div>
</div>
</section>
<app-footer></app-footer>