<app-header></app-header>

<section class="course-single-area">
  <div class="container">
      <div class="row">
          <div class="col-md-9">
              <div class="course-single-col">
                 <div class="desc-sec">
             <div class="lft-inner">
                <div class="desc">
                  <h4><b>ABOUT UPSC</b></h4>
    <p style="margin-bottom: 0px">Competitive Exams conducted by UPSC</p>
    <p style="margin-bottom: 0px">Union Public Service Commission (UPSC) conduct examinations for appointment to the services of the union</p>
    <p>Indian Civil Services Examination and Indian Forest Services Examination are the two most prestigious exams conducted by UPSC</p>
    <h4>INDIAN CIVIL SERVICES EXAMINATION</h4>
    <ul class="list-unstyled">
      <li>Civil Services Examination is conducted for recruitment to the Services and Posts mentioned below
        <ul>
          <li>Indian Administrative Service.</li>
          <li>Indian Foreign Service.</li>
          <li>Indian Police Service.</li>
          <li>Indian P & T Accounts & Finance Service, Group ‘A’. (v) Indian Audit and Accounts Service, Group ‘A’.</li>
          <li>Indian Revenue Service (Customs and Central Excise), Group ‘A’.</li>
          <li>Indian Defence Accounts Service, Group ‘A’.</li>
          <li>Indian Revenue Service (I.T.), Group ‘A’.</li>
          <li>Indian Ordnance Factories Service, Group ‘A’ (Assistant Works Manager, Administration).</li>
          <li>Indian Postal Service, Group ‘A’.</li>
          <li>Indian Civil Accounts Service, Group ‘A’.</li>
          <li>Indian Railway Traffic Service, Group ‘A’.</li>
          <li>Indian Railway Accounts Service, Group 'A'.</li>
          <li>Indian Railway Personnel Service, Group ‘A’.</li>
          <li>Post of Assistant Security Commissioner in Railway Protection Force, Group ‘A’.</li>
          <li>Indian Defence Estates Service, Group ‘A’.</li>
          <li>Indian Information Service (Junior Grade), Group ‘A’.</li>
          <li>Indian Trade Service, Group 'A'.</li>
          <li>Indian Corporate Law Service, Group 'A'.</li>
          <li>Armed Forces Headquarters Civil Service, Group ‘B’ (Section Officer’s Grade).</li>
          <li>Delhi, Andaman & Nicobar Islands, Lakshadweep, Daman & Diu and Dadra & Nagar Haveli Civil Service, Group 'B'.</li>
          <li>Delhi, Andaman & Nicobar Islands, Lakshadweep, Daman & Diu and Dadra & Nagar Haveli Police Service, Group 'B'.</li>
          <li>Pondicherry Civil Service, Group 'B'.</li>
          <li>Pondicherry Police Service, Group ‘B’.</li>
        </ul>
      </li>
    </ul>
    <h4>SYLLABI FOR THE EXAMINATION</h4>
    <h4 class="text-center">PRELIMINARY</h4>
    <p class="text-left">PAPER I (200 Marks)<p>
    <p class="text-right">Duration: 2 hours<p>
    <ul class="list-styled">
      <li>Current events of national and international importance.</li>
      <li>History of India and Indian National Movement.</li>
      <li>Indian and World Geography-Physical, Social, Economic Geography of India and the World.</li>
      <li>Indian Polity and Governance-Constitution, Political System, Panchayati Raj, Public Policy, Rights Issues, etc.</li>
      <li>Economic and Social Development-Sustainable Development, Poverty, Inclusion, Demographics, Social Sector Initiatives, etc.</li>
      <li>General issues on Environmental ecology, Bio-diversity and Climate Change specialization.</li>
      <li>General Science.</li>
    </ul>
    <p class="text-left">PAPER II (200 Marks)<p>
    <p class="text-right">Duration: 2 hours<p>
    <ul class="list-styled">
      <li>Comprehension;</li>
      <li>Interpersonal skills including communication skills;</li>
      <li>Logical reasoning and analytical ability;</li>
      <li>Decision making and problem solving;</li>
      <li>General mental ability;</li>
      <li>Basic numeracy (numbers and their relations, orders of magnitude, etc.) (Class X level), Data interpretation (charts, graphs, tables, data sufficiency etc. — Class X level);</li>
    </ul>
    <p style="margin-bottom: 0px; font-size:11px">*The question papers will be of the objective type (multiple choice questions).</p>
    <p style="margin-bottom: 0px; font-size:11px">*For each question for which a wrong answer has been given by the candidate, one-third (0.33) of the marks assigned to that question will be deducted as penalty.</p>
    <p style="font-size:11px">*For each question for which a wrong answer has been given by the candidate, one-third (0.33) of the marks assigned to that question will be deducted as penalty.</p>
    <h4 class="text-center">MAINS</h4>
    <h4 class="text-left">QUALIFYING PAPERS ON INDIAN LANGUAGES AND ENGLISH</h4>
    <ul class="list-unstyled">
      <li>The pattern of questions would be broadly as follows :
        <ul>
          <li>Comprehension of given passages.</li>
          <li>Precis Writing.</li>
          <li>Usage and Vocabulary.</li>
          <li>Short Essays.</li>
        </ul>
      </li>
    </ul>
    <ul class="list-unstyled">
      <li>Indian Languages :
        <ul>
          <li>Comprehension of given passages.</li>
          <li>Precis Writing.</li>
          <li>Usage and Vocabulary.</li>
          <li>Short Essays.</li>
          <li>Translation from English to the Indian Language and vice-versa.</li>
        </ul>
      </li>
    </ul>
    <h4>PAPER-I</h4>
    <p><b>Essay</b> : Candidates may be required to write essays on multiple topics. They will be expected to keep closely to the subject of the essay to arrange their ideas in orderly fashion, and to write concisely. Credit will be given for effective and exact expression.</p>
    <h4>PAPER-II</h4>
    <ul class="list-unstyled">
      <li><b>General Studies-I : Indian Heritage and Culture, History and Geography of the World and Society.</b>
        <ul>
          <li>Indian culture will cover the salient aspects of Art Forms, literature and Architecture from ancient to modern times.</li>
          <li>Modern Indian history from about the middle of the eighteenth century until the present- significant events, personalities, issues.</li>
          <li>The Freedom Struggle — its various stages and important contributors/contributions from different parts of the country.</li>
          <li>History of the world will include events from 18th century such as industrial revolution, world wars, redrawal of national boundaries, colonization, decolonization, political philosophies like communism, capitalism, socialism etc.— their forms and effect on the society.</li>
          <li>Salient features of Indian Society, Diversity of India.</li>
          <li>Role of women and women’s organization, population and associated issues, poverty and developmental issues, urbanization, their problems and their remedies.</li>
          <li>Effects of globalization on Indian society.</li>
          <li>Social empowerment, communalism, regionalism & secularism.</li>
          <li>Salient features of world’s physical geography.</li>
          <li>Distribution of key natural resources across the world (including South Asia and the Indian sub-continent); factors responsible for the location of primary, secondary, and tertiary sector industries in various parts of the world (including India).</li>
          <li>Important Geophysical phenomena such as earthquakes, Tsunami, Volcanic activity, cyclone etc., geographical features and their location-changes in critical geographical features (including water-bodies and ice-caps) and in flora and fauna and the effects of such changes.</li>
        </ul>
      </li>
    </ul>
    <h4>PAPER-III</h4>
    <ul class="list-unstyled">
      <li><b>General Studies- II: Governance, Constitution, Polity, Social Justice and International relations.</b>
        <ul>
          <li>Indian Constitution—historical underpinnings, evolution, features, amendments, significant provisions and basic structure.</li>
          <li>Functions and responsibilities of the Union and the States, issues and challenges pertaining to the federal structure, devolution of powers and finances up to local levels and challenges therein.</li>
          <li>Separation of powers between various organs dispute redressal mechanisms and institutions.</li>
          <li>Comparison of the Indian constitutional scheme with that of other countries.</li>
          <li>Parliament and State legislatures—structure, functioning, conduct of business, powers & privileges and issues arising out of these.</li>
          <li>Structure, organization and functioning of the Executive and the Judiciary—Ministries and Departments of the Government; pressure groups and formal/informal associations and their role in the Polity.</li>
          <li>Salient features of the Representation of People’s Act.</li>
          <li>Appointment to various Constitutional posts, powers, functions and responsibilities of various Constitutional Bodies.</li>
          <li>Statutory, regulatory and various quasi-judicial bodies.</li>
          <li>Government policies and interventions for development in various sectors and issues arising out of their design and implementation.</li>
          <li>Development processes and the development industry —the role of NGOs, SHGs, various groups and associations, donors, charities, institutional and other stakeholders.</li>
          <li>Welfare schemes for vulnerable sections of the population by the Centre and States and the performance of these schemes; mechanisms, laws, institutions and Bodies constituted for the protection and betterment of these vulnerable sections.</li>
          <li>Issues relating to development and management of Social Sector/Services relating to Health, Education, Human Resources.</li>
          <li>Issuesrelatingtopovertyandhunger.</li>
          <li>Important aspects of governance, transparency and accountability, e-governance- applications, models, successes, limitations, and potential; citizens charters, transparency & accountability and institutional and other measures.</li>
          <li>Role of civil services in a democracy.</li>
          <li>India and its neighborhood- relations.</li>
          <li>Bilateral, regional and global groupings and agreements involving India and/or affecting India’s interests.</li>
          <li>Effect of policies and politics of developed and developing countries on India’s interests, Indian diaspora.</li>
          <li>Important International institutions, agencies and fora- their structure, mandate.</li>
        </ul>
      </li>
    </ul>
    <h4>PAPER-IV</h4>
    <ul class="list-unstyled">
      <li><b>General Studies-III: Technology, Economic Development, Bio diversity, Environment, Security and Disaster Management</b>
        <ul>
          <li>Indian Economy and issues relating to planning, mobilization, of resources, growth, development and employment.</li>
          <li>Inclusive growth and issues arising from it.</li>
          <li>GovernmentBudgeting.</li>
          <li>Major crops-cropping patterns in various parts of the country, - different types of irrigation and irrigation systems storage, transport and marketing of agricultural produce and issues and related constraints; e- technology in the aid of farmers.</li>
          <li>Issues related to direct and indirect farm subsidies and minimum support prices; Public Distribution System- objectives, functioning, limitations, revamping; issues of buffer stocks and food security; Technology missions; economics of animal-rearing.</li>
          <li>Food processing and related industries in India- scope’ and significance, location, upstream and downstream requirements, supply chain management.</li>
          <li>Land reforms in India.</li>
          <li>Effects of liberalization on the economy, changes in industrial policy and their effects on industrial growth.</li>
          <li>Infrastructure: Energy, Ports, Roads, Airports, Railways etc.</li>
          <li>Investmentmodels.</li>
          <li>Science and Technology- developments and their applications and effects in everyday life.</li>
          <li>Achievements of Indians in science & technology; indigenization of technology and developing new technology.</li>
          <li>Awareness in the fields of IT, Space, Computers, robotics, nano-technology, bio-technology and issues relating to intellectual property rights.</li>
          <li>Conservation, environmental pollution and degradation, environmental impact assessment.</li>
          <li>Disaster and disaster management.</li>
          <li>Linkages between development and spread of extremism.</li>
          <li>Role of external state and non-state actors in creating challenges to internal security.</li>
          <li>Challenges to internal security through communication networks, role of media and social networking sites in internal security challenges, basics of cyber security; money-laundering and its prevention.</li>
          <li>Security challenges and their management in border areas - linkages of organized crime with terrorism.</li>
          <li>Various Security forces and agencies and their mandate.</li>
        </ul>
      </li>
    </ul>
    <h4>PAPER-V</h4>
    <ul class="list-unstyled">
      <li><b>General Studies- IV: Ethics, Integrity and Aptitude</b></li>
      <li>This paper will include questions to test the candidates’ attitude and approach to issues relating to integrity, probity in public life and his problem solving approach to various issues and conflicts faced by him in dealing with society. Questions may utilise the case study approach to determine these aspects. The following broad areas will be covered :
        <ul>
          <li>Ethics and Human Interface: Essence, determinants and consequences of Ethics in-human actions; dimensions of ethics; ethics - in private and public relationships. Human Values - lessons from the lives and teachings of great leaders, reformers and administrators; role of family society and educational institutions in inculcating values.</li>
          <li>Attitude: content, structure, function; its influence and relation with thought and behaviour; moral and political attitudes; social influence and persuasion.</li>
          <li>Aptitude and foundational values for Civil Service, integrity, impartiality and non-partisanship, objectivity, dedication to public service, empathy, tolerance and compassion towards the weaker-sections.</li>
          <li>Emotional intelligence-concepts, and their utilities and application in administration and governance.</li>
          <li>Contributions of moral thinkers and philosophers from India and world.</li>
          <li>Public/Civil service values and Ethics in Public administration: Status and problems; ethical concerns and dilemmas in government and private institutions; laws, rules, regulations and conscience as sources of ethical guidance; accountability and ethical governance; strengthening of ethical and moral values in governance; ethical issues in international relations and funding; corporate governance.</li>
          <li>Probity in Governance: Concept of public service; Philosophical basis of governance and probity; Information sharing and transparency in government, Right to Information, Codes of Ethics, Codes of Conduct, Citizen’s Charters, Work culture, Quality of service delivery, Utilization of public funds, challenges of corruption.</li>
          <li>Case Studies on above issues.</li>
        </ul>
      </li>
    </ul>
    <h4 class="text-center">OPTIONALS</h4>
    <h4 class="text-left">PAPER-VI & PAPER VII</h4>
    <p>Candidate may choose any optional subject from amongst the List of Optional Subjects given.</p>
    <h4 class="text-center">INTERVIEW</h4>
    <ul class="list-unstyled">
      <li>
        <ul>
          <li>The candidate will be interviewed by a Board who will have before them a record of his career. He will be asked questions on matters of general interest. The object of the interview is to assess the personal suitability of the candidate for a career in public service by a Board of competent and unbiased observers. The test is intended to judge the mental calibre of a candidate. In broad terms this is really an assessment of not only his intellectual qualities but also social traits and his interest in current affairs. Some of the qualities to be judged are mental alertness, critical powers of assimilation, clear and logical exposition, balance of judgement, variety and depth of interest, ability for social cohesion and leadership, intellectual and moral integrity.</li>
          <li>The technique of the interview is not that of a strict cross-examination but of a natural, though directed and purposive conversation which is intended to reveal the mental qualities of the candidate.</li>
          <li>The interview test is not intended to be a test either of the specialised or general knowledge of the candidates which has been already tested through their written papers. Candidates are expected to have taken an intelligent interest not only in their special subjects of academic study but also in the events which are happening around them both within and outside their own State or Country as well as in modern currents of thought and in new discoveries which should rouse the curiosity of well educated youth.</li>
        </ul>
      </li>
    </ul>
                                        
                </div>
             </div>
        </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="sidebar-col">
                  <!--<div class="sidebar-search-box">
                      <form>
                          <div class="input-group">
                              <input placeholder="Search..." class="form-control" name="search-field" type="text">
                              <span class="input-group-btn">
                                  <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                              </span>
                          </div>
                      </form>
                  </div>-->
                  <!--<div class="categories">
                      <div class="sidebar-title">
                          <h3>categories</h3>
                      </div>
                      <ul class="clearfix">
                          <li><a href="#">Daily News</a><a class="pull-right" href="#">(10)</a></li>
                          <li><a href="#">Editorial</a><a class="pull-right" href="#">(05)</a></li>
                          <li><a href="#">Articles</a><a class="pull-right" href="#">(13)</a></li>
                          
                      </ul>
                  </div>
                  <div class="sidebar-post">
                      <div class="sidebar-title">
                          <h3>Latest News</h3>
                      </div>
                      <ul>
                          <li>
                              <h4><a href="#">Test Series 5</a></h4>
                              <p>December 12, 2017</p>
                          </li>
                          <li>
                             
                              <h4><a href="#">Prelims Mock Test</a></h4>
                              <p>December 15, 2017</p>
                          </li>
                          <li>
                            
                              <h4><a href="#">Know it from Acheiver</a></h4>
                              <p>December 16, 2017</p>
                          </li>
                          <li>
                              
                              <h4><a href="#">India’s rising manufacturing sector</a></h4>
                              <p>December 19, 2017</p>
                          </li>
                          <li>
                             
                              <h4><a href="#">Responsive Design</a></h4>
                              <p>December 20, 2017</p>
                          </li>
                      </ul>
                  </div>-->
                
              </div>
          </div>
      </div>
  </div>
</section>

<app-footer></app-footer>