<app-header></app-header>
<section class="course-single-area">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="course-single-col">
                   <div class="desc-sec">
               <div class="lft-inner">
                  <div class="desc">
                    <h4><b>ABOUT TNPSC</b></h4>
      <p class="p-1">Interested in serving only within the home state?</p>
<p class="p-1">
The Tamil Nadu Public Service Commission (TNPSC)  is a constitutional body, endowed with the duty of recruiting the eligible candidates to the state’s administrative services. TNPSC, the erstwhile Madras Service Commission, stands as a specimen of evolution since its inception in the year 1929.
</p>
<p class="p-1">
TNPSC conducts multiple competitive exams on a regular basis to recruit personnel for different levels of administrative services. Aram has been conducting TNPSC Group I and Group II classes since 2015. The experience that we have gained in teaching for UPSC exam has enabled us to be an outstanding academy for TNPSC coaching as well.
</p>
<p class="p-1">
We have facilitated scores of students in getting into the state civil services with in a short span of time since the inception of TNPSC classes at our academy. 
</p>
<p class="p-1">
We wouldn’t have accomplished our objectives without our highly experienced and dedicated faculty team. We cater to the special requirements of TNPSC exams by emphasising considerably on language and mental ability sections as these carry a greater degree of importance in the exams.
</p>
<p class="p-1">
As the popular saying goes.. “Action speaks louder than words”,our yearly results stand as testimony to our hard work and dedication. Join with us and become a part of coveted state civil services. 
</p>

<h5>Group I</h5>
<p class="p-1">Group I is the topmost exam, conducted by the TNPSC to recruit personnel for the highest administrative positions under the State Government. Every year, lakhs of candidates apply for Group I exam. As it selects candidates for the topmost positions in the State Civil Services, one needs to learn the length and breadth of every topic in the syllabus. With increasing competition for the limited number of vacancies available, the exam has been made tougher over time. To crack Group I exam, one needs to work really hard and smart. Proper guidance and conceptual clarity will save the amount of invaluable time that the candidates invest in studying.
</p>
<p class="p-1">
The Group I exam is conducted in three phases - The Preliminary, the Mains and the Interview level.  
</p>
<p class="p-1">
Services that are listed under Group I are
</p>
 <ul class="list-unstyled">
     
          
            <li>Deputy Collector</li>
            <li>Deputy Superintendent of Police</li>
            <li>Deputy Registrar of Co-operative Societies</li>
            <li>Assistant Director of Rural Development Department</li>
            <li>Assistant Commissioner in the Tamil Nadu Hindu Religious and Charitable Endowments Administration Department</li>
            <li>Assistant Commissioner - Commercial Tax Officer</li>
            <li>District Registrar</li>
            <li>Divisional Officer in Fire and Rescue Services Department</li>
            <li>Assistant Conservator of Forest</li>
            <li>District Employment Officer</li>            
      </ul> 
      <h4>SYLLABI for TNPSC Group I</h4>
      <h4>Preliminary level</h4>
  <h5> History of India</h5>
      <ol>
        <li>Dates and events relating to indus Valley Civilisation.</li>
        <li>Vedic, Aryan and Sangam Age.</li>
        <li>Maurya Dynasty, Buddhism and Jainism, Guptas and Vardhanas, Pallavas, Cholas and Pandyas, Sultanate and Mughal Period.</li>
        <li>Advent of European powers specially the British and other related topics.</li>
      </ol>
      <h5>Geography of India</h5>
      <ol>
        <li>Earth, Motions of Earth, Rotation and Revolution and their effects and Structure of Earth.</li>
        <li>Natural regions of India, Weather, Monsoon, Climate, Rainfall and Natural Calamities.</li>
        <li>Indian Towns and Places, Hill Stations, National parks, Major Ports, Crops and Minerals, Location of Major Industries, Forests and Wildlife.</li>
  <li>Population distribution in India and other related topics</li>
  </ol>
  <h5>Economics</h5>
  <ol>
  <li>Agriculture, Major crops and crop pattern in India.</li>
  <li>Industrial Development, Major medium, small scale and cottage Industries of Tamil Nadu. </li>
  <li>Village and Rural Development in India. Housing, Drinking water and other developmental schemes. </li>
  <li>Price policy, Inflation, population and unemployment problems, imports and exports
  </li></ol>
  <h5>Indian Polity</h5>
  <ol>
  <li> Salient features, citizenship, elections, Parliament and State Legislature, Executive setup of States, Judiciary system, Local self Governments, Centre - State Relations, Language Policy, Foreign policy.</li>
   </ol>
   <h5>Indian National Movement</h5>
   <ol>
  <li>National freedom movement and attainment of independence - Contribution of National Leaders like Bal Gangadhar Tilak, Gopal Krishna Gokhale, Dadabhai Naoroji Mahatma Gandhi, Jawaharlal Nehru and others.</li>
  <li>Role of Tamil Nadu in Freedom Movement, and leaders such as Bharathiyar, V.O.C, Subramaniya Siva, Rajaji and others</li>
   </ol>
   <h5>General Science</h5>
   <p>The General Science questions revolve around the science used in day to day lives. Any educated person can answer these questions. The questions shall be from topics- in Physics, Chemistry and Biology. It includes topics such as Scientific Laws, Scientific instruments, Inventions and Discoveries. Scientists and their contributions. Human Physiology, Diseases, their cause, cure and prevention, Diet-Balanced diet, human Genetics, Animals, Mammals and Birds, Environment and Ecology. Elements and Compounds. Acids, Bases and Salts and allied Subjects, Motion, Newton's Laws of Motion - Properties of Matter, Electricity, National Laboratories and other related topics.</p>
   <h5> Current Affairs</h5>
   <p>Latest development in Science and technology, Political developments in India, Developments in Trade, Transport and communication, Questions on Fine arts like dance, drama, films, painting, major literary works Games and Sports, National, International awards, National and International organisations, Abbreviations, Books and Authors, General Terminology, India and its Neighbours, Present day India and other related topics.</p>
   <h5>Aptitude and Mental Ability</h5>
   <p>The aptitude and reasoning questions are to test the candidate’s ability to draw conclusions through inductive or deductive reasoning from tables and charts. It will include elementary problems from school mathematics.</p>
<h4>Mains Level</h4>
<h5>Paper I </h5>
<h5>Modern history of India and Indian culture</h5>
<ol>
  <li>Advent of European invasion‐Expansion and consolidation of British rule.</li>
  <li>Effect of British rule on socio‐economic factors.</li>
  <li>Social reforms and religious movements.</li>
  <li>India since independence.</li>
  <li>Characteristics of Indian culture - Unity in diversity ‐ race, colour, language, custom, Secularism in India and Organizations for fine arts, dance, drama, music.</li>
  <li>Growth of rationalist, Dravidian movement in Tamil Nadu, Political parties and populist schemes National renaissance.</li>
  <li> Early uprising against British rule ‐ 1857 of Revolt and Indian National Congress.</li>
  <li> Emergence of national leaders ‐ Gandhi, Nehru, Tagore, Netaji.</li>
  <li> Growth of militant movements and Different modes of agitations.</li>
  <li> Era of different Acts & Pact.</li>
  <li> World war & final phase struggle.</li>
  <li> Communalism led to partition.</li>
  <li> Role of Tamil Nadu in freedom struggle and Role of Rajaji, VOC, Periyar,Bharathiar & Others</li>
</ol>
<h5>Statistical analysis , graphs and diagrams</h5>
<ol>
  <li>Conversion of information to data.</li>
  <li>Collection, compilation and presentation of data.</li>
  <li>Tables, graphs, diagrams.</li>
  <li>Parametric representation of data and Analytical interpretation of data.</li>
  <li>Percentage.</li>
  <li>Highest Common Factor (HCF) and Lowest Common Multiple (LCM).</li>
  <li>Ratio and Proportion.</li>
  <li>Simple interest and Compound interest.</li>
  <li>Area  and Volume.</li>
  <li>Time and Work.</li>
  <li>Probability.</li>
  <li>Information technology ‐ Basic terms, Communications ‐ Application of Information and Communication Technology (ICT).</li>
  <li> Decision making and problem solving.</li>
</ol>
<h5>Role and Impact of Science and Technology in the Development of India and Tamilnadu</h5>
<ol>
  <li>Nature of universe, General scientific laws , Scientific instruments, Inventions and discoveries.</li>
  <li> National scientific laboratories, Science glossary ‐ Physical quantities, standards and units.</li>
  <li> Mechanics and properties of matter, Force, motion and energy.</li>
  <li> Magnetism, electricity and electronics , Atomic and nuclear physics, Astronomy and space science.</li>
  <li> Elements and compounds ‐ Acids, bases and salts, Oxidation and reduction, Carbon, nitrogen and their compounds .</li>
  <li> Natural disasters ‐ safeguard measures.</li>
  <li> Chemistry of ores and metals , Fertilizers, pesticides, insecticides ,Biochemistry and biotechnology, Polymers and plastics .</li>
  <li> Main concepts of life science ‐ The cell ‐basic unit of life, Classification of living organism , Nutrition and dietetics, Respiration , Excretion of metabolic waste.</li>
  <li> Bio – communication .</li>
  <li> Blood and blood circulation, Endocrine system, Reproductive system‐ Animals, plants and human life .</li>
  <li> Govt. policy /organizations on Science and Technology, Role, achievement & impact of Science and Technology .</li>
  <li> Energy ‐ self sufficiency , oil exploration , Defence Research Organization , Ocean research and development.</li>
  <li> Genetics, Environment, ecology, health and hygiene, Biodiversity and its conservation,  Human diseases, prevention and remedies, Communicable diseases and non ‐ communicable diseases .</li>
  <li> Alcoholism and Drug abuse.</li>
  <li> Computer science and advancement, Genetic Engineering , Remote sensing and benefits</li>
</ol>

<h4>Paper II</h4>
<h5>Indian polity</h5>
<ol>
  <li>Constitution of India ‐ Preamble to the constitution , Salient features of constitution , Union, state and territory,  Citizenship ‐ rights and duties , Fundamental rights ,Directive principles of state policy , Fundamental duties, Human rights charter.</li>
   <li>Union executive ,Union legislature,  parliament , State executive , State legislature assembly.</li>
   <li>Status of Jammu & Kashmir .</li>
  <li>Local government , panchayat raj, Indian federalism.</li>
  <li> Center state relations.</li>
  <li>Judiciary in India - Rule of law /Due process of law.</li>
  <li> Emergency provisions .</li>
  <li>Civil services in India - Administrative Challenges in a welfare state , Complexities of district administration</li>
  <li>Elections ‐ Election Commission Union and State.</li>
  <li>Official language and Schedule – VIII.</li>
  <li> Amendments to constitution.</li>
  <li> Schedules to constitution</li>
</ol>
<h5>Indian Geography</h5>
<ol>
  <li>Earth and universe, Solar system , Atmosphere, hydrosphere and lithosphere .</li>
  <li> Monsoon, rainfall, weather and climate.</li>
  <li> Water resources ‐ rivers in India.</li>
  <li> Soil, minerals & natural resources, Natural vegetation and Forest & wildlife.</li>
  <li> Agricultural pattern, livestock & fisheries.</li>
  <li> Transport including Surface Transport & communication.</li>
  <li> Social geography - population , density and distribution.</li>
  <li> Natural calamities and disaster management.</li>
  <li> Bottom topography of Indian ocean, Arabian Sea and Bay of Bengal.</li>
  <li> Climate change, its impact and consequences and mitigation measures.</li>
  <li> Pollution Control</li>
</ol>
<h4>Tamil language, Tamil society, its culture and heritage</h4>
<h5>Tamil Nadu administration</h5>
<ol>
  <li>State government organization ‐ structure, functions and control mechanism.</li>
  <li>District administration ‐role in people’s welfare oriented programmes.</li>
  <li>Industrial map of Tamil Nadu ‐ role of state government.</li>
  <li>Public Services ‐ role of recruitment agencies .</li>
  <li>State finance ‐ resources, budget and financial administration.</li>
  <li>Use of IT in administration- e‐governance in the State.</li>
  <li>Natural calamities – Disaster Management Union and State, strategic planning in the State.</li>
  <li> Social welfare ‐ Government sponsored schemes with reference to Tamil Nadu.</li>
  <li>Union government organization ‐ structure, functions and control mechanism.</li>
  <li>Relationship between State and Union.</li>
</ol>
<h4>Group II</h4>
<p class="p-1">Group II exam comes next to Group I, wherein the candidates are recruited for gazetted positions serving under Group I officials. The competition is skyrocketing for Group II exams as well like Group I exam. To crack any competitive exam, the candidates must practice more than what they study. It is very true in case of Group II exam also. Unlike most other competitive exams, the TNPSC exams do not have negative marking. The candidates should make use ofthis option to their favour. To clear Group II exam, the candidates must attend as many tests as possible.</p>
<p class="p-1">Group II (Interview) exam is conducted in three phases - The Preliminary, the Mains and the Interview.</p>
<p class="p-1">The Group II (Non-Interview) exam is conducted in a single phase - The Preliminary Level</p>
<p class="p-1">Services that are listed under Group II are</p>

<h5>Group II (Interview Post)</h5>
<ol>
  <li>Deputy Commercial Tax Officer (DCTO)</li>
  <li>Sub Registrar</li>
  <li>Probation Officer in the Prison Department</li>
  <li>Assistant Inspector of Labour</li>
  <li>Junior Employment Officer</li>
  <li>Assistant Section Officer in Law Department/TNPSC/Finance Department/Various Departments in Tamil Nadu Ministerial service/ Secretarial Service</li>
  <li>Assistant Inspector in Local Fund Audit Department</li>
  <li>Special Assistant in Vigilance and Anti-Corruption Department</li>
  <li>Audit Inspector in Audit Wing of Hindu Religious and Charitable Endowments</li>
  <li>Supervisor of Industrial Co-operatives</li>
  <li>Senior Inspector of Co-operative Societies</li>
</ol>
<h5>Group II (Non-Interview Post)</h5>
<ol>
  <li>Accountant in Treasuries and Accounts Department</li>
  <li>Assistant in Forest Department</li>
  <li>Personal Clerk in the Finance Department, Secretariat</li>
  <li>Personal Clerk (Other than Law and Finance Department), Secretariat</li>
  <li>Personal Clerk in TNPSC</li>
  <li>Personal Clerk in Tamil Nadu Legislative Assembly</li>
  <li>Assistant in various Departments in Tamil Nadu Ministerial Service/Secretariat Service/Legislative Assembly Secretariat Service</li>
  <li>Assistant in the Divisions of Commercial Taxes Department</li>
  <li>Handloom Inspector</li>
  <li>Revenue Assistant in Revenue Department</li>
</ol>
<h4>Syllabus for TNPSC Group II Exam - Interview Post</h4>
<h5>Preliminary Level</h5>
<h5>General Science</h5>
<h5>PHYSICS</h5>
<ol>
  <li>Universe ,General Scientific laws, Scientific instruments, Inventions and discoveries, National scientific laboratories and Science glossary.</li>
    <li> Mechanics and properties of matter, Physical quantities, standards and units. Force, motion and energy. </li>
  <li>Electricity and Magnetism, electronics & communications.</li>
  <li>Atomic and nuclear physics.</li>
  <li>Solid State Physics‐Spectroscopy.</li>
  <li>Geophysics ‐ Astronomy and space science</li>
</ol>
<h5>CHEMISTRY</h5>
<ol>
  <li> Elements and Compounds‐Acids, bases and salts.</li>
  <li> Oxidation and reduction.</li>
  <li> Chemistry of ores and metals ‐Carbon, nitrogen and their compounds‐Fertilizers, pesticides and insecticides.</li>
  <li> Biochemistry and biotechnology.</li>
  <li> Electrochemistry‐Polymers and plastics.</li>
</ol>
<h5>BOTANY</h5>
<ol>
  <li>Main Concepts of life science-The cell,basic unit of life, Classification of living organism, Nutrition and dietetics.</li>
  <li>Respiration‐Excretion of metabolic waste and Bio-communication</li>
</ol>
<h5>ZOOLOGY</h5>
<ol>
  <li>Blood and blood circulation, Endocrine system, Reproductive system and Genetics the science of heredity.</li>
  <li>Environment, ecology, health and hygiene, Biodiversity and its conservation.</li>
  <li>Human diseases, prevention and remedies‐Communicable diseases and non‐communicable diseases.</li>
  <li>Alcoholism and drug abuse.</li>
</ol>
<h5>CURRENT EVENTS</h5>
<ol>
  <li>History - Latest diary of events, National symbols, Profile of States, Defence, national security and terrorism.</li>
  <li> World organizations - pacts and summits.</li>
  <li>  Eminent persons & places in news, Sports & Games, Books & authors, Awards & honours, Cultural panorama and Latest historical events.</li> 
  <li> India and its neighbours, Latest terminology and Appointments.</li>
  <li> Political Science- India’s foreign policy, Latest court verdicts,  public opinion and Problems in conduct of public elections, Political parties and political system in India, Public awareness & General administration.</li>
  <li> Role of Voluntary organizations & Govt.‐ Welfare oriented government schemes, and  their utility.</li>
</ol>
<p class="p-1">Geography - Geographical landmarks, Policy on environment and ecology.
        Economics- Current socio‐economic problems, New economic policy & govt. sector.
        Science - Latest inventions on science & technology , Latest discoveries in Health
        Science and Mass media & communication.
</p>
<h5>GEOGRAPHY</h5>
<ol>
  <li> Earth and universe, Solar system , Atmosphere, hydrosphere and lithosphere .</li>
  <li> Monsoon, rainfall, weather and climate.</li>
  <li> Water resources ‐ rivers in India.</li>
  <li> Soil, minerals & natural resources, Natural vegetation and Forest & wildlife.</li>
  <li> Agricultural pattern, livestock & fisheries.</li>
  <li> Transport including Surface Transport & communication.</li>
  <li> Social geography - population , density and distribution.</li>
  <li> Natural calamities and disaster management.</li>
  <li> Bottom topography of Indian ocean, Arabian Sea and Bay of Bengal.</li>
  <li> Climate change, its impact and consequences and mitigation measures.</li>
  <li> Pollution Control</li>
</ol>
<h5>HISTORY AND CULTURE OF INDIA</h5>
<ol>	
  <li> Pre‐historic events, Indus valley civilization,Vedic, Aryan and Sangam age, Maurya dynasty, Buddhism and Jainism,  Guptas, Delhi Sultans, Mughals and Marathas, Age of Vijayanagaram and the bahmanis, South Indian history and Culture and Heritage of Tamil people.</li>
  <li> Advent of European invasion, Expansion and consolidation of British rule and Effect of British rule on socioeconomic factors.</li>
  <li> Social reforms and religious movements.</li>
  <li> India since independence. </li>
  <li>Characteristics of Indian culture, Unity in diversity, race, colour,
language, custom, India a secular state and Organizations for fine arts, dance, drama, music.</li>
  <li>Growth of rationalist, Dravidian movement in TN, Political parties and populist schemes. 7. Prominent personalities in the various spheres - Arts, Science, literature and Philosophy – Mother Teresa, Swami Vivekananda, Pandit Ravishankar , M.S.Subbulakshmi, Rukmani Arundel and J.Krishnamoorthy etc.</li>
</ol>
<h5>INDIAN POLITY</h5>
<ol>	
  <li> Constitution of India ‐ Preamble to the constitution, Salient features of constitution, Union, State and territory, Citizenship, rights amend duties, Fundamental rights, Fundamental duties and Human rights charter.</li>
  <li> Union legislature ,Parliament , State executive,  State Legislative assembly.</li>
  <li> Status of Jammu & Kashmir</li>
  <li>  Local government- panchayat raj .</li>
  <li> Judiciary in India – Rule of law/Due process of law, Indian federalism.</li>
  <li> Center – state relations.</li>
  <li> Emergency provisions.</li>
  <li> Civil services in India ‐ Administrative challenges in a welfare state, Complexities of district administration.</li>
  <li> Elections, Election Commission Union and State.</li>
  <li> Official language and Schedule‐VIII.</li>
  <li> Amendments to constitution.</li>
  <li> Schedules to constitution.</li>
  <li>  Administrative reforms & tribunals, Corruption in public life, Anti-corruption measures,
  Central Vigilance Commission, lok‐adalats, Ombudsman, Comptroller and Auditor General of India. ‐ Right to information.</li>
  <li> Central and State Commission.</li>
  <li>  Empowerment of women, Voluntary organizations and public grievances redressal and Consumer protection forms.</li>
</ol>
<h5>INDIAN ECONOMY</h5>
<ol>
  <li>Nature of Indian economy , Five‐year plan models an assessment , Land reforms & agriculture, Application of science in agriculture.</li>
  <li>Industrial growth, Capital formation and investment, Role of public sector &
  <li>Disinvestment, Development of infrastructure.</li>
  <li>National income, Public finance & fiscal policy, Price policy & public distribution.
    Banking, money & monetary policy, Role of Foreign Direct Investment (FDI),
    WTO‐globalization & privatization.</li>
  <li>Rural welfare oriented programmes, Social sector problems, population, education, health, employment, poverty, HRD, sustainable economic growth.</li>
  <li>Economic trends in Tamil Nadu, Energy Different sources and development.</li>
  <li>Finance Commission</li>
</ol>
<h5>INDIAN NATIONAL MOVEMENT</h5>
<ol>
  <li> National renaissance, Early uprising against British rule‐1857 Revolt, Indian National Congress, Emergence of national leaders‐ Gandhi, Nehru, Tagore and Netaji.</li>
  <li> Growth of militant movements, Different modes of agitations.</li>
  <li> Era of different Acts & Pacts.</li>
  <li> World war & final phase struggle.</li>
  <li> Communalism led to partition.</li>
  <li> Role of Tamil Nadu in freedom struggle, Role of  Rajaji, VOC, Periyar, Bharathiar & Others.</li>
  <li> Birth of political parties/ political system in India since independence.</li>
</ol>
<h5>APTITUDE & MENTAL ABILITY TESTS</h5>
<ol>
  <li>Conversion of information to data, Collection, compilation and presentation of data .</li>
  <li> Tables, graphs, diagrams, Parametric representation of data and Analytical interpretation of data.</li>
  <li> Percentage.</li>
  <li> Highest Common Factor (HCF) and Lowest Common Multiple (LCM).</li>
  <li> Ratio and Proportion.</li>
  <li> Simple interest and Compound interest.</li>
  <li> Area and Volume.</li>
  <li> Time and Work.</li>
  <li> Behavioral ability.</li>
  <li> Communications in information technology, Application of Information and Communication Technology (ICT).</li>
  <li> Decision making and problem solving, Logical Reasoning Puzzles, Dice , Visual Reasoning and Alpha numeric Reasoning.</li>
  <li> Number Series ‐ Logical Number/Alphabetical/Diagrammatic Sequences.</li>
</ol>
<h4>Mains Level</h4>
<h5>Role and Impact of Science and Technology in the Development of India and Tamilnadu</h5>
<ol>
  <li>Nature of universe, General scientific laws , Scientific instruments, Inventions and discoveries.</li>
  <li> National scientific laboratories, Science glossary ‐ Physical quantities, standards and units.</li>
  <li> Mechanics and properties of matter, Force, motion and energy.</li>
  <li> Magnetism, electricity and electronics , Atomic and nuclear physics, Astronomy and space science.</li>
  <li> Elements and compounds ‐ Acids, bases and salts, Oxidation and reduction, Carbon, nitrogen and their compounds .</li>
  <li> Natural disasters ‐ safeguard measures.</li>
  <li> Chemistry of ores and metals , Fertilizers, pesticides, insecticides ,Biochemistry and biotechnology, Polymers and plastics .</li>
  <li> Main concepts of life science ‐ The cell ‐basic unit of life, Classification of living organism , Nutrition and dietetics, Respiration , Excretion of metabolic waste.</li>
  <li> Bio – communication .</li>
  <li> Blood and blood circulation, Endocrine system, Reproductive system‐ Animals, plants and human life .</li>
  <li> Govt. policy /organizations on Science and Technology, Role, achievement & impact of Science and Technology .</li>
  <li> Energy ‐ self sufficiency , oil exploration , Defence Research Organization , Ocean research and development.</li>
  <li> Genetics, Environment, ecology, health and hygiene, Biodiversity and its conservation,  Human diseases, prevention and remedies, Communicable diseases and non ‐ communicable diseases .</li>
  <li> Alcoholism and Drug abuse.</li>
  <li> Computer science and advancement, Genetic Engineering , Remote sensing and benefits</li>
</ol>
<h5>ADMINISTRATION OF UNION AND STATES WITH SPECIAL REFERENCE TO TAMIL NADU</h5>
<ol>
  <li>State government organization - structure, functions and control mechanism, District administration - role in people’s welfare oriented programmes.
  <li> Industrial map of Tamil Nadu, role of state government, Public Services, Role of recruitment agencies.</li>
  <li> State finance - resources, budget and financial administration.</li>
  <li> Use of IT in administration and e-governance in the State.</li>
  <li> Natural calamities and Disaster Management.</li>
  <li> Union and State Social welfare, Government sponsored schemes with reference to Tamil Nadu.</li>
  <li> Relationship between State and Union</li>
</ol>
<h5>SOCIO ECONOMIC ISSUES IN INDIA/ TAMIL NADU</h5>
<ol>
  <li> Population Explosion, Unemployment issues in India & Tamil Nadu, Child Labour,Economic Issues (a) Poverty (b) Sanitation- Rural and Urban (c) Corruption in public life.</li>
  <li> Anti -Corruption measures ,CVC, Lok-adalats, Ombudsman and CAG.</li>
  <li> Illiteracy, Women Empowerment , Role of the Govt. in Women Empowerment , Social injustice to womenfolk , Domestic violence, dowry menace, sexual assault.</li>
  <li> Impact of violence on the growth of the nation, Religious violence,Terrorism and Communal violence.</li>
  <li>  Human Rights issues.</li>
  <li> Right to information , Central and State Commission.</li>
  <li> Education, Linkage between Education and Economic Growth, Community Development Programme.</li>
  <li> Employment Guarantee Scheme, Self Employment and Entrepreneurship Development.</li>
  <li> Role of NGOs in Social Welfare  and Govt. Policy on Health.</li>
</ol>
<h4><b>Syllabus for TNPSC Group II - Non-Interview Post</b></h4>
<h4>General Studies</h4>
<h5>Physics</h5>
<ol>
  <li>Universe, General Scientific laws, Scientific instruments, Inventions and discoveries, National scientific laboratories and Science glossary.</li>
  <li>Mechanics and properties of matter, Physical quantities, standards
    and units.</li>
  <li>Force, motion and energy.</li>
  <li>Electricity and Magnetism, Atomic and nuclear physics.</li>
</ol>
<h5>Chemistry</h5>
<ol>
  <li>Elements and Compounds‐Acids, bases and salts, Oxidation and reduction</li>
  <li>Chemistry of ores and metals‐Carbon, nitrogen and their compounds, Fertilizers, pesticides and insecticides.</li>
</ol>
<h5>Botany</h5>
<ol>
  <li> Basics of life science, The cell‐basic unit of life, Classification of living organism, Nutrition and dietetics.</li>
  <li> Respiration</li>
</ol>
<h5>Zoology</h5>
<ol>
  <li> Blood and blood circulation, Endocrine system, Reproductive system and Genetics, the science of heredity.</li>
  <li> Environment, ecology, health and hygiene, Biodiversity and its conservation.</li>
  <li> Human diseases, prevention and remedies, Communicable diseases and non-communicable diseases</li>
</ol>
<h4><b>CURRENT EVENTS</b></h4>
<h5>History</h5>
<ol>
  <li>Latest diary of events, National symbols, Profile of States, Eminent persons & places in
    News, Sports & games, Books & authors , Awards & honours, Latest historical events, India and its neighbours and Appointments.
  </li>
</ol>
<h5>Political Science</h5>
<ol>
  <li>Problems in conduct of public elections, Political parties and political system in India, Public awareness & General administration.</li>
  <li> Role of Voluntary organizations & Government, Welfare oriented government Schemes and their utility.</li>
</ol>
<h5>Geography</h5>
<p class="p-1">Geographical landmarks and Policy on environment and ecology</p>
<h5>Economics</h5>
<p class="p-1">Current socio‐economic problems New economic policy & govt. sector.</p>
<h5>Science</h5>
<p class="p-1">Latest inventions on science & technology Latest discoveries in Health Science Mass media & communication</p>
<h5>GEOGRAPHY</h5>
<ol>
  <li> Earth and Universe, Solar system, Atmosphere hydrosphere and lithosphere.</li>
  <li> Monsoon, rainfall, weather and climate.</li>
  <li> Water resources, rivers in India.</li>
  <li> Soil, minerals & natural resources, Natural vegetation, Forest & wildlife.</li>
  <li> Agricultural pattern, livestock & fisheries.</li>
  <li> Social geography, population‐density and Distribution.</li>
  <li> Natural calamities and disaster management.</li>
</ol>
<h5>HISTORY AND CULTURE OF INDIA</h5>
<ol>	
  <li>South Indian history and Culture and Heritage of Tamil people.</li>
  <li> Advent of European invasion, Expansion and consolidation of British rule and Effect of British rule on socio‐economic factors.</li>
  <li> Social reforms and religious movements.</li>
  <li> India since independence.</li>
  <li> Characteristics of Indian culture, Unity in diversity, race, colour,
    language, custom, Indian Secularism.</li>
  <li> Organizations for fine arts, dance, drama, music.</li>
  <li> Growth of rationalist, Dravidian movement in TN‐Political parties and populist schemes.</li>
  <li> Prominent personalities in the various spheres – Arts, Science, literature and Philosophy – Mother Teresa, Swami Vivekananda, Pandit Ravishankar , M.S.Subbulakshmi, Rukmani Arundel and J.Krishnamoorthy etc.</li>
</ol>
<h5>INDIAN POLITY</h5>
<ol>
  <li>Constitution of India ‐ Preamble to the constitution, Salient features of constitution, Union, State and territory, Citizenship, rights amend duties, Fundamental rights, Fundamental duties and Human rights charter.</li>
  <li> Union legislature ,Parliament , State executive,  State Legislative assembly.</li>
  <li> Status of Jammu & Kashmir</li>
  <li> Local government- panchayat raj .</li>
  <li> Judiciary in India – Rule of law/Due process of law, Indian federalism.</li>
  <li> Center – state relations.</li>
  <li> Emergency provisions.</li>
  <li> Civil services in India ‐ Administrative challenges in a welfare state, Complexities of district administration.</li>
  <li> Elections, Election Commission Union and State.</li>
  <li> Official language and Schedule‐VIII.</li>
  <li> Amendments to constitution.</li>
  <li> Schedules to constitution.</li>
  <li> Administrative reforms & tribunals, Corruption in public life, Anti-corruption measures, Central Vigilance Commission, lok‐adalats, Ombudsman, Comptroller and Auditor General of India. ‐ Right to information.</li>
  <li> Central and State Commission.</li>
  <li>  Empowerment of women.</li>
</ol>
<h5>INDIAN ECONOMY</h5>
<ol>
  <li>Nature of Indian economy , Five‐year plan models an assessment , Land reforms & agriculture, Application of science in agriculture.</li>
  <li> Industrial growth, Capital formation and investment, Role of public sector &
     Disinvestment, Development of infrastructure.</li>
  <li> National income, Public finance & fiscal policy, Price policy & public distribution.</li>
  <li> Banking, money & monetary policy, Role of Foreign Direct Investment (FDI),
     WTO‐globalization & privatization.</li>
  <li> Rural welfare oriented programmes, Social sector problems, population, education, health, employment, poverty, HRD, sustainable economic growth.</li>
  <li> Economic trends in Tamil Nadu, Energy Different sources and development.</li>
  <li> Finance Commission</li>
</ol>
<h5>INDIAN NATIONAL MOVEMENT</h5>
<ol>
  <li> Early uprising against British rule‐1857 Revolt, Indian National Congress and Emergence of national leaders‐Gandhi, Nehru, Tagore and Netaji.</li>
  <li> Growth of militant movements.</li>
  <li> Communalism led to partition.</li>
  <li> Role of Tamil Nadu in freedom struggle ‐ Role of  Rajaji, VOC, Periyar, Bharathiar & Others.</li>
  <li> Birth of political parties /political system in India since independence.</li>
</ol>
<h5>APTITUDE & MENTAL ABILITY TESTS</h5>
<ol>
  <li>Conversion of information to data, Collection, compilation and presentation of data .</li>
  <li> Tables, graphs, diagrams, Parametric representation of data and Analytical interpretation of data.</li>
  <li> Percentage.</li>
  <li> Highest Common Factor (HCF) and Lowest Common Multiple (LCM).</li>
  <li> Ratio and Proportion.</li>
  <li> Simple interest and Compound interest.</li>
  <li> Area and Volume.</li>
  <li> Time and Work.</li>
  <li> Behavioral ability.</li>
  <li> Communications in information technology, Application of Information and Communication Technology (ICT).</li>
  <li> Decision making and problem solving, Logical Reasoning Puzzles, Dice , Visual Reasoning and Alpha numeric Reasoning.</li>
  <li> Number Series ‐ Logical Number/Alphabetical/Diagrammatic Sequences.</li>
</ol>

                                          
                  </div>
               </div>
          </div>
                </div>
            </div>
            <div class="col-md-3">
                <!--<div class="sidebar-col">
                    <div class="sidebar-search-box">
                        
                    </div>
                    <div class="categories">
                        <div class="sidebar-title">
                            <h3>categories</h3>
                        </div>
                        <ul class="clearfix">
                            <li><a href="#">Daily News</a><a class="pull-right" href="#">(10)</a></li>
                            <li><a href="#">Editorial</a><a class="pull-right" href="#">(05)</a></li>
                            <li><a href="#">Articles</a><a class="pull-right" href="#">(13)</a></li>
                            
                        </ul>
                    </div>
                    <div class="sidebar-post">
                        <div class="sidebar-title">
                            <h3>Latest News</h3>
                        </div>
                        <ul>
                            <li>
                                <h4><a href="#">Test Series 5</a></h4>
                                <p>December 12, 2017</p>
                            </li>
                            <li>
                               
                                <h4><a href="#">Prelims Mock Test</a></h4>
                                <p>December 15, 2017</p>
                            </li>
                            <li>
                              
                                <h4><a href="#">Know it from Acheiver</a></h4>
                                <p>December 16, 2017</p>
                            </li>
                            <li>
                                
                                <h4><a href="#">India’s rising manufacturing sector</a></h4>
                                <p>December 19, 2017</p>
                            </li>
                            <li>
                               
                                <h4><a href="#">Responsive Design</a></h4>
                                <p>December 20, 2017</p>
                            </li>
                        </ul>
                    </div>
                  
                </div>-->
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
