<app-header></app-header>
  
	<section class="defult-page-title rowbgclr">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="page-title-box">
                      <h4>PRELIMS CUM MAINS</h4>
                  </div>
              </div>
          </div>
      </div>
  </section>

<!-- Course Single Start -->

<section class="course-meterial">
  <div class="container">
    <div class="col-sm-12">
      
      <div class="row pb-3">
            <div class="col-6">
                <p style="text-align:justify"><span style="font-size:18px"><span style="font-family:Georgia,serif"><strong><span style="color:#3c2a2a;">1. History </span></strong></span></span></p>
                       <ul class="p-1 m-1">
                          
                      <li class="list-unstyled"><a href="https://drive.google.com/file/d/141rQ1MpoRroIx4IAPm6L42zWovdopsy6/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Class 6 </a></li>
                      <li><a href="https://drive.google.com/file/d/15rfAm-lOuIYQ_OGUnmptnrBKu3NZWM10/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Class 7</a></li>
                      <li><a href="https://drive.google.com/file/d/11ZNx-1No5dy2pZSgB-4dje6IOkTsUDkb/view" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Class 8-I</a></li>
                      <li><a href="https://drive.google.com/open?id=1PBWgDmkB-DbpURqxe4LnyXPuvOBb8xX-" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Class 8-II</a></li>
                    
                      <li class="list-unstyled"><a href="https://drive.google.com/open?id=1yFZ1MYBtL36l56NJpSYxoDyAgLa5bgNF" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Class 9</a></li>
                      <li><a href="https://drive.google.com/open?id=1s_tm213V1Cy2Bvx-EZItEqawTZVk_rJj" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Class 10</a></li>
                      <li><a href="https://drive.google.com/open?id=1FosfuhAKlbMYxsLPgKh-ieBtYGiy-8al" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Class 11</a></li>
                      <li><a href="https://drive.google.com/open?id=18ZKm5yiSIQAwtwvCGdEcEIIP6qP79L2f" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Class 12-I </a></li>
                      <li><a href="https://drive.google.com/open?id=12HmBS7wBlaSpMV_02YOaUneFJ3V0phyI" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Class 12-II </a></li>
                      <li><a href="https://drive.google.com/open?id=1rXsy9hvnM0XkrTdyA5iJqM9gvSp290sC" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Class 12-III </a></li>
                      
                    
                       </ul>
            </div>
        <div class="col-6">
                <p style="text-align:justify"><span style="font-size:18px"><span style="font-family:Georgia,serif"><strong><span style="color:#3c2a2a;">2. Geography </span></strong></span></span></p>
                       <ul class="p-1 m-1">
                          
                      <li class="list-unstyled"><a href="https://drive.google.com/open?id=1Egw39EJatiA1dds-RrJYC4bZJ3fpvXYI" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Class 6 </a></li>
                      <li><a href="https://drive.google.com/open?id=1QyRPRs0KcPWzTG41ccNUiFnvlwZFmOrF" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Class 7</a></li>
                      <li><a href="https://drive.google.com/open?id=1SQezL3FhhjY5biYaZ-jrnOYtrThdXGE8" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Class 8</a></li>
                      <li><a href="https://drive.google.com/open?id=1xYVE2p4cvPLVXT70eKqNfybhVCSIUNV0" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Class 9</a></li>
                    
                      <li><a href="https://drive.google.com/open?id=1L2VMNqIpzcQ5o3z-e5pMAGqhWoZxW1PD" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Class 10</a></li>
                      <li><a href="https://drive.google.com/open?id=11OO-LyTA6xvbyY3DhZ2kJ-SFx6BcAdkB" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Class 11</a></li>
                      <li><a href="https://drive.google.com/open?id=1cra8ABwfpApovem__1qmviQXnmXMj9KL" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Class 11 </a></li>
                      <li><a href="https://drive.google.com/open?id=1njxndqKfPuiQoQlQLfqJxKENjmZcW8iv" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Class 12 </a></li>
                      <li><a href="https://drive.google.com/open?id=1ZDNeY_GsRaMmOtUhTNHmJbGQcEqK3WEr" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Class 12 </a></li>
                      
                    
                       </ul>
            </div>
      
        <div class="col-6">
                <p style="text-align:justify"><span style="font-size:18px"><span style="font-family:Georgia,serif"><strong><span style="color:#3c2a2a;">3.Political Scienceogy   </span></strong></span></span></p>
                        <ul class="p-1 m-1">
                          
                      <li class="list-unstyled"><a href="https://drive.google.com/open?id=0B283MfVmPzeYdDNybEh3OElsSDA	" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Class 6 </a></li>
                      <li><a href="https://drive.google.com/open?id=0B283MfVmPzeYbkNNUW5kRG11S2M" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Class 7</a></li>
                      <li><a href="https://drive.google.com/open?id=0B283MfVmPzeYUFZ0Wk1QSEdXRVk" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Class 8</a></li>
                      <li><a href="https://drive.google.com/open?id=0B283MfVmPzeYeVlyU0NXb0JmZjQ" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Class 9</a></li>
                    
                      <li><a href="https://drive.google.com/open?id=0B283MfVmPzeYNVhyUjFLM0lxU0U" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Class 10</a></li>
                      <li><a href="https://drive.google.com/open?id=0B283MfVmPzeYWVlsTFV2MVpyMzQ" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Class 11</a></li>
                      <li><a href="https://drive.google.com/open?id=0B283MfVmPzeYY3VaSy1fdkhRODQ" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Class 11 </a></li>
                      <li><a href="https://drive.google.com/open?id=0B283MfVmPzeYTm1Sb054dTJ6NFE" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Class 12 </a></li>
                      <li><a href="https://drive.google.com/open?id=0B283MfVmPzeYY2dwR1RWR1hpRkE" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Class 12 </a></li>
                      
                    
                       </ul>
            </div>
            <div class="col-6">
                <p style="text-align:justify"><span style="font-size:18px"><span style="font-family:Georgia,serif"><strong><span style="color:#3c2a2a;">4. Science  </span></strong></span></span></p>
                       <ul class="p-1 m-1">
                          
                      <li class="list-unstyled"><a href="https://drive.google.com/open?id=1TT9aMFkRCdU6rvEwt1yaEfAcfscMCfLO" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Class 6 </a></li>
                      <li class="list-unstyled"><a href="https://drive.google.com/open?id=1GMi9I41x-aqxerFpTXbp1GlGWLnRDIWx" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Class 7 </a></li>
                      <li class="list-unstyled"><a href="https://drive.google.com/open?id=1JPyHh4QFx_CVRd8ECxu5gOg59CSdeE9y" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Class 8 </a></li>
                      <li class="list-unstyled"><a href="https://drive.google.com/open?id=1_Bzb4C5YTXv_tV9p7MxHUdNCbnaa_dFr" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Class 9 </a></li>
                      <li><a href="https://drive.google.com/open?id=1lq1shQjXaHBZfs7cdaESTdJ12eOk6Wpr" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Class 10</a></li>
                      <li><a href="https://drive.google.com/open?id=1l-Sng48KfCghoFMTu_nWKyjOUjqgBj9v" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Class 11- Chemistry - Unit 14 </a></li>
                      <li><a href="https://drive.google.com/open?id=1MvNx1btkBHxhxg17zghPv5MEK_XcK7tK" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Class 12- Chemistry- Unit 16</a></li>
                      <li><a href="https://drive.google.com/open?id=10q3LVmD1wlF4lFPc0czwbtmM6kOxk2PS" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Class 11- Biology- Unit 4&5</a></li>
                      <li><a href="https://drive.google.com/open?id=1zCaK-REGSku6m0ChL6czS7S2PFWL-qKr" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Class 12- Biology- Unit 8,9 & 10</a></li>
                    
                       </ul>
            </div>
        
        <div class="col-6">
                <p style="text-align:justify"><span style="font-size:18px"><span style="font-family:Georgia,serif"><strong><span style="color:#3c2a2a;">5. Environment and Ecology  </span></strong></span></span></p>
                       <ul class="p-1 m-1">
                          
                      <li class="list-unstyled"><a href="https://drive.google.com/open?id=1zCaK-REGSku6m0ChL6czS7S2PFWL-qKr" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Class 12- Biology- Unit 13 to 16 </a></li>
                                            
                       </ul>
            </div>
        
        <div class="col-6">
                <p style="text-align:justify"><span style="font-size:18px"><span style="font-family:Georgia,serif"><strong><span style="color:#3c2a2a;">6. Psychology (For Ethics too)  </span></strong></span></span></p>
                       <ul class="p-1 m-1">
                          
                      <li class="list-unstyled"><a href="https://drive.google.com/open?id=1wzwKmKgk8QvdUDDYIfq42NW7TwfYD0KT" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Class 11 </a></li>
                      <li class="list-unstyled"><a href="https://drive.google.com/open?id=1Vq2Ah6h6hJTP4QjIy6KMJgfuF0KeQLnF" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Class 12 </a></li>
                                            
                       </ul>
            </div>
        <div class="col-6">
                <p style="text-align:justify"><span style="font-size:18px"><span style="font-family:Georgia,serif"><strong><span style="color:#3c2a2a;">7. Sociology   </span></strong></span></span></p>
                       <ul class="p-1 m-1">
                          
                      <li class="list-unstyled"><a href="https://drive.google.com/open?id=1rFbOcyPuAFCwxNAEKgaHpGqWkjFE2-5c" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Class 11 </a></li>
                      <li class="list-unstyled"><a href="https://drive.google.com/open?id=149cfE2D2R0IF6oR8ECCEWIMPjfhpVVKx" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Class 11 </a></li>
                      <li class="list-unstyled"><a href="https://drive.google.com/open?id=1lLdw6Ot1CR9RWT6EJp2U9n11l4Petr6W" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Class 12 </a></li>
                      <li class="list-unstyled"><a href="https://drive.google.com/open?id=1fJoyUk1DP4HKwnutJEcbM6ZhqUhr81xY" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Class 12 </a></li>
                                            
                       </ul>
            </div>
         <div class="col-6">
                <p style="text-align:justify"><span style="font-size:18px"><span style="font-family:Georgia,serif"><strong><span style="color:#3c2a2a;">8. Economics  </span></strong></span></span></p>
                       <ul class="p-1 m-1">
                          
                      <li class="list-unstyled"><a href="https://drive.google.com/open?id=1E2K1o4lujVLpdHg93dByi7rz-LXGIcTs" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Class 9 </a></li>
                      <li><a href="https://drive.google.com/open?id=1GxWzG3cRKAV6pu9xgmhaXR4RbkGoN_ug" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Class 10</a></li>
                      <li><a href="https://drive.google.com/open?id=1PZ5ri-XUwje5b5IfNysqEetD160T9rms" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Class 11</a></li>
                      <li><a href="https://drive.google.com/open?id=1YyIGJrfT7-yVB8sALOZyoWVwuB7zHoFb" target="_blank"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Class 12</a></li>
                    
                       </ul>
            </div>
        
        </div>
     
    </div>
  </div>
</section>

<app-footer></app-footer>