<app-header></app-header>

<app-upsc-submenu></app-upsc-submenu>


<!-- Slider Start -->
<section class="main-slider-area">
  
<div id="Container" class="row">
  <div class="col-12 p-0 m-0">
    <img id="list-item-2" class="img-fluid m-0 p-0" src="/assets/images/Mains_About.jpg" alt="PCM_About">
  </div>
    
  </div>

</section>

<section class="desc-area mains-course">

<div class="row animatedParent animateOnce">
  <div class="col-12 p-0 m-0">
  <h3>ABOUT THE COURSE</h3>
    <p>Among the three stages of UPSC Civil Services Exam, the second stage, that is ‘Mains’ is the critical one.To score well above the cut-off, a candidate must have very good writing and analytical skill.Understanding the questions and writing the apt answers to them determines one’s success.</p>
    <p>Aram IAS academy is known for its best quality lectures and reliable study materials for Mains General studies subjects as well as optional subjects. The remarkable aspect of our course is that, we complete the entire syllabus within the stipulated time framework.</p>
    <p>The backbone of Aram IAS academy, the faculty team consists of highly qualified and experienced academicians including authors of reputed publications.To this credit, Mr.M.Karthikeyan, Director of Aram IAS academy, has published books on Ethics, Integrity &amp; Aptitude;TNPSC General Studies manual with McGraw publication and Internal Security with Pearson publication. Apart from this, his book on governance has taken an edge in the preparation of General Studies paper II. Mr.M. Senthil Kumar,the other Director of Aram and Mr.S.Rijesh,a faculty from ARAM have published a book on Society which assists the students in their preparation for General Studies paper I.</p>
  </div>
  
</div>

</section>



<section class="pcmcouse-section">

      <div class="row animatedParent animateOnce">
          <div class="col-12 p-0 m-0">
    <img class="img-fluid" src="/assets/images/Mains_Course.jpg" alt="PCM_Course_Curriculum">
  </div>
  <div class="col-12 p-0 m-0">
    <img id="list-item-1" class="img-fluid m-0 p-0" src="/assets/images/Mains_Exclusive.jpg" alt="Mains_Exclusive">
  </div>
</div>

</section>

<app-contact-us></app-contact-us>

<app-footer></app-footer>