<app-header></app-header>
<app-upsc-submenu></app-upsc-submenu>


<section class="freshermain-sec">
<div class="container">
  <div class="row animatedParent animateOnce">
    <div class="col-12 p-0 m-1">
    <h3>About the course</h3>
    <p class="p-2">Interview/Personality Assessment Test is the crucial level in UPSC CSE as it decides one's future within a short span of around 30 minutes. Good communication skill is vital to stay confident in the interview, as it is the tool to express one's personality. The mains level is meant to identify a candidate's personality that is communicated through writing. The interview studies a candidate's personality through face to face verbal communication. The way a candidate communicates will tell everything about his/her personality.</p>
      <p class="p-2">To make the interview a cake walk, one has to develop good communication skill, body language, listening skill, emotional quotient and eye contact. To stay cool-headed during the interview, the candidates should attend at least a few mock interviews prior to the UPSC interview. The candidates are required to read between the lines their own Detailed Application Form(DAF) that they submit to UPSC. In addition to good communication skill, a candidate should have an edge over national and international current affairs and their optional subject.
</p>
      
      
    </div>
    
  </div>
</div>
</section>

<section class="freshers-incl">
<div class="container">
  <div class="col-sm-12">
    <div class="section-title">
                    <div class="title-style">
                        <h4 class="p-2">How ARAM can help?</h4>
                       
                    </div>
               </div>
    <div class="row pb-3">
          <div class="col-6">
        <ul>
          <li class="p-2"><i class="fa fa-hand-o-right" aria-hidden="true"></i> At Aram, we provide the candidates with current affairs resources on more than 200 topics of national and international importance</li>
          <li class="p-2"><i class="fa fa-hand-o-right" aria-hidden="true"></i> The Detailed Application Form (DAF) of the candidates are analysed thoroughly by experienced faculty members and serving candidates</li>
          <li class="p-2"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Workshops and guest lectures of academicians and serving bureaucrats are arranged to throw light on crucial aspects of cracking the interview level with ease</li>
          <li class="p-2"><i class="fa fa-hand-o-right" aria-hidden="true"></i> The unique aspect of Aram's interview training module is pre-mock tests. We conduct a minimum of 4 pre-mock interviews on different sections of the DAF prior to the full mock interviews. The pre-mock interviews enable the candidates to get full clarity over each and every section of their DAF</li>
        </ul>
              
          </div>
          <div class="col-6">
              <ul>
          <li class="p-2"><i class="fa fa-hand-o-right" aria-hidden="true"></i> At Aram, we bring in professionals associated with a wide range of fields to interact with the candidates to help them get a hold over their hobby. As hobbies say a lot about one's personality, one has to give special attention to one's hobbies</li>
          <li class="p-2"><i class="fa fa-hand-o-right" aria-hidden="true"></i> At Aram's library, we have a collection of more than a thousand books that are essential for candidates appearing for the interview</li>
          <li class="p-2"><i class="fa fa-hand-o-right" aria-hidden="true"></i> To help the candidates to get a complete conceptual clarity over their optional subject and the currents affairs associated with it, we provide them with special and focused optional classes</li>
          
        </ul>
          </div>
         
      </div>
  
  </div>
</div>
</section>

<section class="freshermain-sec">
<div class="container">
  <div class="row animatedParent animateOnce">
    <div class="col-12 p-0 m-1">
    <h3>Interview Session 2018-2019</h3>
    <h4>Session 1 - (10/12/2018)</h4>
    <p class="p-2">
      Mr Prasanna Ramasamy IAS, Officer on Special Duty at the Chief Secretariat of Jammu and Kashmir shared his extensive experiences with the students of ARAM IAS Academy on ‘The Changing Role of District Collector’. 
      His session was valuable to the students as he threw insights on ‘What is Expected from the Aspirants by the UPSC’.In addition to the impressive lecture, the students were also provided with printed study materials on current issues of national and international importance. 
    </p>
    <h4>Session 2 - (13/12/2018)</h4>
    <p class="p-2">The second session was also conducted by Mr Prasanna Ramasamy, IAS on ‘Terrorism and Civil War in Jammu and Kashmir. His experiences  with the ground reality in Jammu and Kashmir has made him the perfect person to deliver a lecture on the internal security issues concerning the state. Besides the lecture, printed study materials on ‘Internal security issues in Jammu and Kashmir’ were also distributed to the students. 
    </p>
    <h4>Session 3 - (18/12/2018)</h4>
    <p class="p-2">The third session was conducted by Mr M.Karthikeyan, Additional Government Pleader, Madras High Court on ‘ Recent Judicial Verdicts’ and ‘Clarity over Judicial Overreach, Judicial Activism and Related Issues concerning the Judiciary,. His vast experiences with the Legal System has made his lecture noteworthy, as he shared the intricacies of issues relating to Judiciary. 
Printed study materials on ‘Recent Judicial Verdicts’ were also distributed to the students at the end of the session.

    </p>
      
      
    </div>
    
  </div>
</div>
</section>


<app-contact-us></app-contact-us>

<app-footer></app-footer>