<app-header></app-header>
<app-upsc-submenu></app-upsc-submenu>


<section class="freshermain-sec">
<div class="container">
  <div class="row animatedParent animateOnce">
    <div class="col-12 p-0 m-1">
    <h3>About the course</h3>
    <p class="p-2">‘Practice doesn’t make perfect, perfect practice makes perfect’ - This is true for UPSC exam preparation as well.</p>
      <p class="p-2">Cracking UPSC exam needs a mixture of hard work and smart work. How much information an aspirant retains while appearing for the exam decides his/her probability of success. Retention can be improved only by re-reading as many times as possible as this consolidates memory.</p>
      <p class="p-2">Understanding the difficulties that aspirants face during revision period, ARAM IAS ACADEMY launches this tailor-made course three months prior to the preliminary examination to give a recap to aspirants of what is to be revised to clear the prelims. The course also includes test series which gives the aspirants a complete trust in themselves before appearing for the exam.</p>
      
    </div>
    
  </div>
</div>
</section>

<section class="freshers-incl">
<div class="container">
  <div class="col-sm-12">
    <div class="section-title">
                    <div class="title-style">
                        <h4 class="p-2">THE COURSE CURRICULUM ALSO INCLUDES</h4>
                       
                    </div>
               </div>
    <div class="row pb-3">
          <div class="col-6">
              <p class="text-center pb-3"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Recap classes would enable aspirants to connect new information with the existing one, thus increases their preparedness for the exam</p>
          </div>
          <div class="col-6">
              <p class="text-center pb-3"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Assured individual attention all through the course to lend a hand to the candidates to excel in the examination</p>
          </div>
         
      </div>
    <div class="row pb-3">
          <div class="col-4">
              <p class="text-center pb-3"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Students can approach for help 24*7</p>
          </div>
          <div class="col-4">
              <p class="text-center pb-3"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Exclusive classes for economic survey and budget with study materials</p>
          </div>
      <div class="col-4">
              <p class="text-center pb-3"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Art of solving the MCQs will be taught by experts</p>
          </div>
      </div>
  </div>
</div>
</section>



<section class="exclusive-area exclusivesec">
    <div class="container">
  <div class="col-sm-12">
                <div class="section-title">
                    <div class="title-style">
                        <h2>WHAT’S EXCLUSIVE FOR YOU</h2>
                       
                    </div>
               </div>
        </div>
  <div class="row pb-4">
       <div class="col-4">
         <p>ARAM is the only institute in South India to conduct separate classes to cover <b style="font-size: 24px">NCERT</b> topic with exclusive tests.</p>
       </div>
       <div class="col-4">
                <p>Separate sessions for <b style="font-size: 24px">Newspaper Reading</b> to help you understand important issues from various newspapers.</p>
          </div>
      <div class="col-4">
            <p>Assured <b style="font-size: 24px">Individual Attention</b> all through the course to lend a hand to the candidates to excel in the examination.</p>
          </div>

  </div>
  
  
</div>
</section>
<app-contact-us></app-contact-us>
<app-footer></app-footer>